[2019-08-16 09:18] xiaoliumao opened #202 "[不同的数据集所需的参数设置是不一样的，如何设置参数啊。]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-16 10:00] #202 closed

[2019-08-16 10:00] BrikerMan commented on #201
没看明白... 是说加载自己的数据集失败了？

[2019-08-16 10:06] BrikerMan commented on #200
Yes, you can use Chinese, and you can run join-task by adding a special token.

Let's assume you have a sample like this.

[code]

## The easy way

Since kashgari will pad at the end of the sentence, you can add a special token at the began of sentence like this and add the label to the tags.

[code]

Then you can train a model for classification and labeling.

## The better way

You can define a

[2019-08-16 14:50] zhucz-kali opened #203 "[Question] 请问作者大佬，有没有针对BERT的BIO文本标注开源工具？"
请问作者大佬，有没有针对BERT的BIO文本标注开源工具？

[2019-08-17 15:30] bratao opened #204 "[Feature request] Support RAdam optimizer"
From the results seems like RAdam reliably beat the old favorites

https://medium.com/@lessw/new-state-of-the-art-ai-optimizer-rectified-adam-radam-5d854730807b

A Keras/Tensorflow2 implementation is available in https://github.com/CyberZHG/keras-radam

[2019-08-17 15:35] BrikerMan commented on #203
没看懂。BIO 文本标注工具是指的？

[2019-08-17 15:45] BrikerMan commented on #204
Kashgari already supports using customized optimizer, here is the example.

[code]

[2019-08-17 15:46] BrikerMan commented on #204
Maybe you can help me add this feature to the document and readme file.

[2019-08-19 01:50] xiaoliumao opened #205 "文本分类"
model.evaluate(test_x, test_y,output_dict=False)
TypeError: evaluate() got an unexpected keyword argument 'output_dict'

[2019-08-19 01:53] xiaoliumao opened #206 "文本分类-参数"
模型参数如何修改，以及能否设计新的模型？能提供具体实例吗？

[2019-08-19 02:50] BrikerMan commented on #206
https://kashgari-zh.bmio.net/tutorial/text-classification/ 文档中都有写，请看文档。

[2019-08-19 02:51] BrikerMan commented on #205
https://kashgari-zh.bmio.net/api/tasks.classification/#evaluate

[2019-08-19 02:51] #205 closed

[2019-08-19 02:52] #206 closed

[2019-08-19 03:29] captain2017 opened #207 "[Question] 用bert embedding训练好的classification模型部署到tf serving时报错TypeError: can only concatenate list (not "str") to list"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-19 05:21] captain2017 commented on #193
已经修复了

[2019-08-19 05:21] #193 closed

[2019-08-19 06:45] captain2017 commented on #207
我解决了

[2019-08-19 06:45] #207 closed

[2019-08-20 01:29] zhucz-kali commented on #203
我是有一批自己的数据集，我自己标注的话太慢，想要找别人一起帮我实体标注，想找一个开源的好用一点的文本标注工具，标注出来的数据格式，最好能够符合BERT与训练模型的格式，请大佬帮我推荐下子~~~

[2019-08-20 01:35] BrikerMan commented on #203
基本所有的标注软件标注出来的都不能直接用，但是用很简单的一个脚本转换一下即可。所以你就找个方便好用的标注，然后再转换一下用就好了。

zhucz-kali <notifications@github.com>于2019年8月20日 周二09:29写道：

[2019-08-20 01:36] BrikerMan commented on #203
不需要针对 BRRT，BERT 和 非 BERT 使用的标注都是一样的，都是 BIO 标注法。

Eliyar Eziz <eliyar917@gmail.com>于2019年8月20日 周二09:35写道：

[2019-08-20 07:47] xmy7216 opened #208 "[Question] NER在训练的过程中开始acc就很高，迭代后valid的acc骤降，能帮忙分析分析吗？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-20 10:30] BrikerMan commented on #208
先试试 BiLSTM_Model 看看会怎么样

[2019-08-20 11:53] xmy7216 commented on #208
谢谢，根据您的建议，换成了BiLSTM_Model，也使用了BERT，epoch设置为15，其他参数未调整，训练的初始正确率和loss感觉还是太好了，
![image](https://user-images.githubusercontent.com/31274050/63344784-d00a9f80-c383-11e9-8ad6-423faa1c90b2.png)
但是在测试集上的结果还不如上面不正常的BILSTM_CRF模型

[2019-08-20 14:17] BrikerMan commented on #208
似乎是 CRF 层的 loss 和 acc 计算有问题，如果你训练完 CRF，用 evaluate 函数测试效果怎么样

[2019-08-20 15:18] xmy7216 commented on #208
测试集的f1得分在70%左右

------------------ 原始邮件 ------------------
发件人: Eliyar Eziz <notifications@github.com>
发送时间: 2019年8月20日 22:17
收件人: BrikerMan/Kashgari <Kashgari@noreply.github.com>
抄送: xmy7216 <1285074029@qq.com>, Author <author@noreply.github.com>
主题: 回复：[BrikerMan/Kashgari] [Question] NER在训练的过程中开始acc就很高，迭代后valid的acc骤降，能帮忙分析分析吗？ (#208)

似乎是 CRF 层的 loss 和 acc 计算有问题，如果你训练完 CRF，用 evaluate 函数测试效果怎么样

[2019-08-21 04:51] xueyongfu opened #209 "[Question] importError: cannot import name 'BLSTMModel',为何import总是失败啊"

[2019-08-21 07:52] xmy7216 commented on #209
你试试BiLSTM_Model

[2019-08-21 08:11] xueyongfu commented on #209
谢谢,看了下源码,明白了

from kashgari.tasks.labeling.models import CNN_LSTM_Model

from kashgari.tasks.labeling.models import BiLSTM_Model
from kashgari.tasks.labeling.models import BiLSTM_CRF_Model

from kashgari.tasks.labeling.models import BiGRU_Model
from kashgari.tasks.labeling.models import BiGRU_CRF_Model

[2019-08-21 08:12] #209 closed

[2019-08-21 08:39] koestlerWang opened #210 "how to train another model based on a trained model?[Question]"
## Environment

- OS :windows10
- Python Version:3.6
- requirements.txt:

[code]

## Question

How to generate another model based on a model which only owns .json&.h5 file?
I can generate another model based a pretrained model such as 'chinese_L-12_H-768_A-12' which owns vocab.txt/bert_config.json/bert_model.ckpt.**  and so on.

[2019-08-21 09:10] xueyongfu opened #211 "[Question] 请问如何设置pad后句子的固定长度"

[2019-08-21 09:52] BrikerMan commented on #210
Which `load_model` function is this?

[2019-08-21 09:52] BrikerMan commented on #208
我的意思，CRF 和非 CRF 模型的 F1 各自怎么样？

[2019-08-21 09:57] BrikerMan commented on #211
自定义初始化一个 Embedding 层。如果原来代码没有初始化 Embedding 层，其实代码会自动初始化一个 [BareEmbedding](https://kashgari.bmio.net/embeddings/bare-embedding/) 层作为语言模型。所有的 Embedding 层都有一个参数叫作 `sequence_length`， 这个就是 padding 长度。然后使用这个 Embedding 初始化模型。

比如 Bert 的 padding 长度设置为 300，代码如下

[code]

文档链接：
- [Embedding](https://kashgari.bmio.net/embeddings/)

[2019-08-21 09:57] #211 closed

[2019-08-21 10:06] koestlerWang commented on #210
from kashgari.utils import load_model

[2019-08-21 10:08] BrikerMan commented on #210
Please list the fines in `Model1` folder.

[2019-08-21 10:09] koestlerWang commented on #210
model_info.json
model_weights.h5

[2019-08-21 10:30] duwf2003 opened #212 "[BUG] When I use word2vec model, there is an UnicodeDecodeError"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-21 10:32] BrikerMan commented on #210
I have tested, you can load and train model like this for now. `model_info.json` file includes all the token dics and config from the pre-trained model. So you only need `model_info.json` and `model_weights.h5`

[code]

Here is the [example notebook](https://colab.research.google.com/drive/106Z_faaZpZD83FqV98Oik7obdwrt2cs6)

[2019-08-21 10:35] BrikerMan commented on #212
Save w2c model as word2vec format

[code]

[2019-08-21 10:43] xmy7216 commented on #208
BiLSTM_CRF_Model训练50epoch后在test集上的表现：
![image](https://user-images.githubusercontent.com/31274050/63423050-14f30c80-c43e-11e9-8514-98a09c5cfcb0.png)
BiLSTM_Model训练15epoch后在test集上的表现：
![image](https://user-images.githubusercontent.com/31274050/63425598-808ba880-c443-11e9-85fa-402281ccce1a.png)

[2019-08-22 03:42] koestlerWang commented on #210
Thank U so much! It does solve my problem!
Maybe it can be written into the readme.md.

[2019-08-22 03:42] #210 closed

[2019-08-22 07:35] duwf2003 commented on #212
Work! Thank you.

[2019-08-22 07:35] #212 closed

[2019-08-25 09:00] Xiao-da-1 opened #214 "[Question] 请问使用Kashgari在训练的时候可以用model.fit_generator()吗？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-26 02:17] someon3wh opened #215 "[Question] 有人遇到过这个问题吗Valueerror"
## Environment

- OS [e.g. Mac OS, Linux]:Linux
- Python Version:3.6
- requirements.txt:

## Question

`from kashgari.embeddings import BERTEmbedding`
`embedding = BERTEmbedding('bert-base-chinese', sequence_length = 200)`

报错：
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-6-fd5

[2019-08-26 03:06] jianminli55 opened #216 "[Question] error when I save model"
when I try to save my model,there is a error :
f.write(json.dumps(self.info(), indent=2, ensure_ascii=True))
  File "/home/lenovo/anaconda3/envs/jmbert/lib/python3.6/json/__init__.py", line 238, in dumps
    **kw).encode(obj)
  File "/home/lenovo/anaconda3/envs/jmbert/lib/python3.6/json/encoder.py", line 201, in encode
    chunks = list(chunks)
  File "/home/lenovo/anaconda3/envs/jmbert/lib/python

[2019-08-26 05:32] #214 closed

[2019-08-26 08:44] YankeeMarco opened #217 "dev accuracy在96%之后迅速降到0.15[BUG]"
I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2019-08-23 13:07:25.426820: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2000160000 Hz
2019-08-23 13:07:25.427451: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55ec77e57640 executin

[2019-08-26 08:45] YankeeMarco commented on #217
以上是标准输出，layer 信息有部分省略了。

[2019-08-27 05:28] captain2017 opened #218 "[Question] No such layer: Embedding-Token"
# Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissu

[2019-08-27 08:25] captain2017 opened #219 "[Question] unknown opcode"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-08-27 09:17] BrikerMan commented on #218
可能和环境有关系，麻烦按照规范编辑一下 issue，补全信息。否则作为无效 issue 处理。

[2019-08-27 09:18] BrikerMan commented on #219
麻烦按照规范编辑一下 issue，补全信息。否则作为无效 issue 处理。此外，如果提到外部资源如 colab，麻烦带一下链接。

[2019-08-27 09:19] BrikerMan commented on #217
可以使用 evaluate 函数测试一下，目前感觉是 crf 层的 loss 计算有问题。

[2019-08-27 12:16] captain2017 commented on #218
帮忙看一下，谢谢

[2019-08-28 02:13] captain2017 commented on #199
[Errno 2] No such file or directory: 'tf_bert_model/1/vocab.txt'

[2019-08-28 02:54] BrikerMan commented on #199
@captain2017 如果用这个方法初始化 tokenizer，需要自己手动拷贝 BERT 的 vocab.txt 到 `f_bert_model/1` 目录下。

[2019-08-28 02:56] BrikerMan commented on #218
使用命令 `pip list` 对比一下依赖版本号吧。

[2019-08-28 03:20] captain2017 commented on #218
Package                           Version
--------------------------------- ---------
absl-py                           0.7.1
astor                             0.8.0
attrs                             19.1.0
backcall                          0.1.0
bert-base                         0.0.9
bert-serving-client               1.9.3
bert-serving-server               1.9.3
bleach

[2019-08-28 03:26] BrikerMan commented on #218
麻烦你自己和正常的 colab 对比一下，要么提供一个可以复现问题的 colab

[2019-08-28 06:19] captain2017 commented on #218
embedding: Embedding = embed_class._load_saved_instance(embed_info,
                                                        model_path,
                                                        model.tf_model)

[2019-08-28 06:19] captain2017 commented on #218
这段话什么意思？model.tf_model是干什么的

[2019-08-28 06:22] captain2017 commented on #218
我是不是还需要储存一下bertembedding

[2019-08-28 06:31] captain2017 commented on #218
![image](https://user-images.githubusercontent.com/27909557/63831087-6a7c6b80-c9a0-11e9-9134-070554c5dcfd.png)
用人民日报的存储的模型就能跑，自己的模型就读不了

[2019-08-28 07:41] captain2017 commented on #218
model.build_multi_gpu_model(gpus=2,cpu_merge= False,cpu_relocation=False,x_train=train_x,y_train=train_y)
删了这句话就能用，能解释一下吗，是不能用多gpu吗

[2019-08-28 07:52] BrikerMan commented on #216
请按照 issue 模板提供详细信息，否则作为无效 issue 处理。

[2019-08-29 01:00] echan00 commented on #196
So it looks like my labeled data includes examples where B-TERM can go as high as B-TERM26 in one sentence (26 different terms tagged in the source and target text). Two questions:

**1) Does it make sense to create additional training data where B-TERM1, B-TERM2, B-TERM3,..., B-TERM26 are more obviously interchangeable?**

For example,
a) The original labeled data:

[code]
b) Example above augmen

[2019-08-29 02:57] BrikerMan commented on #196
Yes, Since you don't have 26 tags in one sentence and all you want to model do is separate two entity's translation. The ii) way is much better and simpler for model to learn.

[2019-08-29 05:12] echan00 commented on #196
Yes, I agree only one term is much simpler for the model to learn.

However, in the case where I have a sentence that has 26 different terms (most sentences avg. 5-6 terms), a model trained on only one term will require 5-6 separate inferences/predictions correct?

[2019-08-30 20:35] echan00 opened #221 "[BUG] AttributeError: 'list' object has no attribute 'argmax'"
I am running into an error with `evaluation` function relating to the `argmax` attribute for a sequence labeling model

Tensorflow 1.14.0
kashgari-tf 0.5.1

[code]

[code]

[2019-08-30 21:33] echan00 commented on #207
@captain2017  你怎么解决的？

[2019-08-30 23:01] echan00 commented on #169
I am also having trouble with the same error:

[code]

So just to clarify.. the following is incorrect:
`[[1,1],[2,2],[3,3,4]], [[4,4],[5,5],[6,6,6]]`

We actually want this?
`[[1,1,2,2,3,3,4], [4,4,5,5,6,6,6]]`

[2019-08-31 02:39] echan00 opened #222 "[BUG] Evaluate function for Stacked Embeddings"
I'm get the error `TypeError: 'int' object is not subscriptable` when trying to evaluate my stacked embedding sequence labeling model.  Is it supported?

Tensorflow 1.14.0
kashgari-tf 0.5.1

[code]

[2019-09-03 07:39] Xiao-da-1 opened #223 "[模型评估使用ROC曲线和PR曲线]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-03 07:58] BrikerMan commented on #223
使用这个 API 获取每个分类的概率即可 https://kashgari.bmio.net/api/tasks.classification/#predict95top95k95class

[2019-09-03 19:33] kl0211 opened #224 "Model configuration changed after saving and loading"
I'm looking to build a multi-label model that can be loaded for other data. As a warm-up, I executed the code here:
https://kashgari.bmio.net/tutorial/text-classification/#multi-label-classification

And tried doing a predict on the sentences, like so:

[('A', 'B'), ('A', 'B'), ('B',), ()]

I then used `model.save()` and `kashgari.utils.load_model()` and tried to predict the same data:

['A', 'A',

[2019-09-04 02:08] BrikerMan commented on #224
Seems we forgot to save the multi_label property, which caused this issue. Thanks for pointing out.

[2019-09-04 09:17] yaleimeng opened #225 "[Feature request] 建议添加XLNet模型支持"
XLNet公布也有几个月了。近期第三方预训练的中文模型也已放出。希望能添加对于这一模型的支持。
以便大家检验和比较不同模型之间的差异，丰富从业者的选择。

[2019-09-04 09:18] #225 closed

[2019-09-04 09:19] yaleimeng commented on #113
XLNet公布也有几个月了。近期第三方预训练的中文模型也已放出。
希望能早日添加对于这一模型的支持，以便大家检验和比较不同模型之间的差异，丰富从业者的选择。

[2019-09-04 19:31] echan00 commented on #221
Problem was due to empty test_x & test_y

[2019-09-04 19:31] #221 closed

[2019-09-05 00:33] echan00 commented on #222
It looks like the issue is related to numeric embeddings. The `classification_report` function of the `seqeval` library only takes strings, not integers

I converted the prediction arrays into strings in my fork of the evaluation function: https://github.com/echan00/Kashgari/blob/master/kashgari/tasks/labeling/base_model.py

[code]

[2019-09-05 01:23] echan00 opened #226 "[Question] Loading BiGRU_CRF Model"
I don't have any problems loading a BiLSTM_CRF_Model:
`model = kashgari.utils.load_model('BiLSTM_CRF_Model_20')`

But loading a BiGRU_CRF_Model seems to not work:

[code]

Is this expected?

[2019-09-05 05:08] echan00 opened #227 "[Question] AttributeError: 'NoneType' object has no attribute 'process_x_dataset'"
I'm trying to load a model with a stacked embedding (bert and numeric). It seems like the embedding does not exist on load.

[code]

I also tried the following to return the embedding of the loaded model and it is empty:
[code]

[2019-09-05 05:23] echan00 commented on #227
I see this under utils.py:

[code]

Should it actually be the following?

[code]

I tried it but receiving a different type of error now:
[code]

[2019-09-05 07:36] allhelllooz opened #228 "Load and continue training NER model"
I am training a `BiGRU_CRF_Model` model with BERT with  1million data points and saving it.
[code]

Then I am loading the model again to train it on some more data as shown below -

[code]

There is no issue in model load and testing.  But when I do `model.fit()` it gives me following error.

[code]

How can I get this info about `optimizer` and `loss` from saved model ??

## Environment
- OS : Ub

[2019-09-05 07:39] allhelllooz commented on #228
Added code for model saving/training as well

[2019-09-05 07:50] BrikerMan commented on #228
Just call `model.compile_model()` after loading the model.

[code]

[2019-09-05 07:52] BrikerMan commented on #226
This is an issue with CuDNN Cells, and fixed in 0.5.3 version. Just update and train again. See more details https://github.com/BrikerMan/Kashgari/issues/198.

[2019-09-05 07:52] #226 closed

[2019-09-05 08:09] cronousbaby opened #229 "[Question] 中文句子中NER 实体识别问题 空格问题"
您好，如果句子中出现空格  比如 “项目总称：项目A   项目B”  我在构造BIO 训练语料时 不忽略空格进行训练 【O,O,O,O,O,B-a,I-a,I-a,这个是空格O,B-b,I-b,I-b】 使用Bert预训练会报错误，是不是Bert 会根据空格进行分割句子的，如果我想保留这句话中间的空格特征 如何处理呢

[2019-09-05 08:23] allhelllooz commented on #228
Now I am getting following error

[code]

[2019-09-05 09:16] BrikerMan commented on #229
BERT 有很多没有使用的 Token，比如 unused1 unused20。可以把全局空格替换成这种特殊 token 再训练~

[2019-09-05 09:17] BrikerMan commented on #228
It seems we have ignored some issue related to the CRF layer. Will fix ASAP.

[2019-09-05 09:23] allhelllooz commented on #228
Possibly!
I tried few more things in between

To get `output_dim` so that I can pass it to CRF()
[code]

Tried manually passing loss and metrics
[code]
But compile step throws error.
Let us know about the updates on this issue.
Thanks for reverting back fast.

[2019-09-05 09:26] cronousbaby commented on #229
在kashgrai中 如何实现呢 ， 替换令牌    项目A 空格  项目B 能不能给个具体的用例呢 大神

[2019-09-05 09:36] BrikerMan commented on #229
这个需要在数据丢到 Kashgari 之前自己批量替换一下，然后在使用 Kashgari 处理。

[2019-09-05 10:54] w5688414 opened #230 "[Feature request] how to plot a model using keras plot_model api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-05 13:34] Qian16 opened #231 "[BUG] using validation"
Hello Dear @BrikerMan. When I use validation data, it causes the bug.  You can have a look at the error. Thank you.

usage:
------
model.fit(X_train, Ytrain,x_validate=X_val,y_validate=Y_val,callbacks=[checkpoint_callback], epochs=4)

Error
-------------------
/kashgari/tasks/base_model.py", line 115, in build_model
    self.embedding.analyze_corpus(x_train + x_validate, y_train + y_validate)
Valu

[2019-09-05 18:21] echan00 commented on #217
我这边也遇到同样的问题，val_accuracy从0.6064速降到0.2148。模型是BiLSTM_CRF

[2019-09-05 21:30] echan00 commented on #196
Posting my model and evaluation results below. Seems like something went wrong. Val_accuracy dropped significantly on epoch 7 and 10 (from 0.4062 -> 0.0117 -> 0.0078). My model basically didn't do any predictions.

[code]

Possibly related to https://github.com/BrikerMan/Kashgari/issues/217 ?

[2019-09-06 01:56] BrikerMan commented on #222
Is this issue fixed? @echan00

[2019-09-06 01:58] BrikerMan commented on #196
Please try it without the CRF layer, let check out is that an issue related to CRF Layer.

[2019-09-06 01:59] echan00 commented on #222
Sorry, this is my first time doing a pull request, I believe this will fix it:

https://github.com/BrikerMan/Kashgari/pull/232

[2019-09-06 02:02] BrikerMan commented on #222
That cool, no worries. I will handle this request next week, come back to you then. Thanks for your contribution.

[2019-09-06 04:32] allhelllooz commented on #228
Should this issue be marked as **bug** ??

[2019-09-06 04:37] cronousbaby commented on #229
您好 我重写了 bert_embedding下的 初始化tokenizer的部分
def _build_token2idx_from_bert(self):
        dict_path = os.path.join(self.model_folder, 'vocab.txt')

        token2idx = {}
        with codecs.open(dict_path, 'r', 'utf8') as reader:
            for line in reader:
                token = line.strip()
                token2idx[token] = len(token2idx)

        self.bert_token2idx = token2idx

        #se

[2019-09-06 05:01] BrikerMan commented on #228
Yep, this is a bug need to fix.

[2019-09-06 05:03] BrikerMan commented on #230
You can access the tf.keras model by the property `model.tf_model`. Then you can plot it. Remember to import plot function from tf.keras, not keras.

[2019-09-06 05:03] #230 closed

[2019-09-06 06:51] echan00 commented on #196
I tried the BiLSTM_Model, but results don't seem to be good.

Accuracy for [CLS], [SEP], [BOS] are 98-99% accurate. But B-TERM, I-TERM, and O predictions are mostly wrong.

[code]

[2019-09-06 06:58] BrikerMan commented on #196
@echan00 What is the evaluation result when you evaluate on the training set and the validation set? Maybe this is because of not enough dataset?

[2019-09-06 07:02] echan00 commented on #196
Providing an example of my training data:

[code]

[2019-09-06 07:07] BrikerMan commented on #196
I mean the result of
[code]

[2019-09-06 07:13] echan00 commented on #196
Good idea. Evaluation result of training and validation set are similar to test set.

[code]

[2019-09-06 12:26] Qian16 commented on #231
Thanks you.

[2019-09-06 14:17] habolivier opened #233 "[Question] Multi-output model"
Hello Dear @BrikerMan .  Thanks for creating Kashgari! I tried the example in mutli-output link (https://kashgari.bmio.net/advance-use/multi-output-model/)  but it raises an error.
Thanks.

kashgari/processors/classification_processor.py", line 35, in _build_label_dict
    label_set = set(labels)
TypeError: unhashable type: 'list'

[2019-09-06 15:42] habolivier commented on #233
@BrikerMan you can change line 35 in classification processor to the following. (https://stackoverflow.com/questions/57763803/convert-a-list-of-lists-into-a-set-of-lists-in-python-3)

label_set = set()
            for array in label_set:
                label_set.add(tuple(array))

[2019-09-07 22:23] echan00 commented on #196
Seems like the model isn't learning anything. @BrikerMan do you think this is a problem with the library? Or something I am not doing correctly?

[2019-09-08 02:17] BrikerMan commented on #196
Maybe our strategy is wrong. Just try using 26 different tags? And check out which label is not easy to learn?

[2019-09-08 09:42] echan00 commented on #196
As I imagined, the model treats each of the 26 different tags as separate entities, which makes it harder for the model to learn.  Accuracy for [CLS], [SEP], [BOS] are still 98-99% accurate, butthe rest of the predictions are mostly wrong.

[code]

[2019-09-08 22:35] 5118Python opened #234 "build_multi_gpu_model InvalidArgumentError"
error:
![image](https://user-images.githubusercontent.com/14151451/64495383-cd88cf00-d2cb-11e9-9a2b-1c696b0c204e.png)

code:
![image](https://user-images.githubusercontent.com/14151451/64495424-70414d80-d2cc-11e9-92b5-168c6fe3067f.png)

[2019-09-08 22:43] echan00 commented on #196
Looking at the results, my guess is the simpler model with one keyword is better.

But the main problem where the model isn't learning anything is the main issue. Theoretically, BERT embedding should be able to help with this task... I wonder if there is something else we can try to debug the issue and figure out how to get this to work.

[2019-09-08 22:43] 5118Python commented on #234
CRF not support multi gpu?
#174

[2019-09-09 08:22] BrikerMan commented on #234
Yep, need to implement multi-GPU version.

[2019-09-09 08:26] BrikerMan commented on #233
Hi, When you using the multi-output model. You need to customize your own processor, too. Just subclass the classification processor and change it.

[2019-09-09 08:28] #231 closed

[2019-09-09 10:29] #234 closed

[2019-09-09 10:30] 5118Python commented on #233
@BrikerMan thx

[2019-09-09 10:31] 5118Python commented on #234
@BrikerMan thx

[2019-09-10 17:35] echan00 opened #236 "[BUG] Multi-GPU model training error Unknown: CUDNN_STATUS_BAD_PARAM"
Having trouble training my model with multi-GPUs. Having trouble determining the cause of the error. It is below:

[code]

[2019-09-10 17:39] BrikerMan commented on #236
What's your kashgari's version?

[2019-09-10 17:45] echan00 commented on #236
Yes, confirming this is fixed on v0.5.3

[2019-09-10 17:45] #236 closed

[2019-09-11 06:25] echan00 commented on #236
@BrikerMan, I was wondering whether it Is normal for training to take much longer in the new version?  After I upgraded to v0.5.3, (both one or multi-gpu) training takes ~6 hours per epoch...

But val accuracy/loss numbers look more appropriate now. I'm hopeful it resolves the issues I have with https://github.com/BrikerMan/Kashgari/issues/196

[2019-09-11 06:35] BrikerMan commented on #236
@echan00 In the new version, CuDNN cell is disabled by default. You could checkout details here. https://github.com/BrikerMan/Kashgari/releases
You could speed up training by using the CuDNN cell, here is the tutorial https://kashgari.bmio.net/tutorial/text-classification/#speed-up-with-cudnn-cell

[2019-09-11 06:48] echan00 commented on #236
Just tried enabling CuDNN cell but received an error similar to the one posted on this bug:

Thank you so much for your time! Your support is incredible.

[code]

[2019-09-11 06:51] BrikerMan commented on #236
This issue seems to related to CuDNN cell on multi-GPU. Maybe you could search issues related to `CUDNN_STATUS_BAD_PARAM`.

[2019-09-11 09:08] yaleimeng opened #237 "[Feature request] 希望添加将模型freeze成单pb文件的功能"
目前的模型转换主要是为tf.serving用的，放在一个文件夹里，变量单独一个文件夹。
但有些场景需要使用单个pb文件的模型进行部署。原来做过ckpt到单pb文件转换是顺利的，但keras这种格式不熟悉。尝试了很多方案都没有转换成功。希望大佬可以添加这个选项。

[2019-09-11 17:14] echan00 commented on #236
It seems like the problem may be related to requiring data sample sizes to be a multiple of the batch size (See https://github.com/keras-team/keras/issues/11434). But in my case with CuDNN cell enabled, even one GPU is fast enough for time being.

[2019-09-11 19:08] echan00 commented on #196
While debugging I've found that even when the training input is the same as the desired output the model is still inaccurate.

For example:
[code]

The majority of predictions will look like this:
[code]

Perhaps there is a bug with stacked or numeric embedding?

[2019-09-12 05:52] BrikerMan commented on #196
I think this issue may be related to the numeric embedding feature. Maybe we just add the numeric feature to WordEmbedding rather than embed the numeric feature then add WordEmbed result and numeric embed result.

Here is the new numeric embedding, just add this to your code and replace the old numeric embedding.

[code]

Old Stacked Embedding = Word Embedding + Numeric feature Embedding
New Stack

[2019-09-12 08:21] WorldWarII opened #238 "[BUG]按照大佬的博文《NLP - 15 分钟搭建中文文本分类模型》(https://eliyar.biz/nlp_chinese_text_classification_in_15mins/)敲了一遍，出现AttributeError"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-13 06:43] BrikerMan opened #239 "[Feature request] TF2.0 Support"
TF 2.0 Support eager mode by default, easy to debug. Also, UnifiedLSTM is really cool.

[2019-09-14 02:59] habolivier opened #240 "How to use train_on_batch"
Hello  @BrikerMan . How can I use train_on_batch  with Kashgari?
Thank you.

[2019-09-14 09:54] BrikerMan commented on #240
You can build the model using `model.build_model(x, y)` then you can access the tf.keral model using all of the keras model's function includes the `model. train_on_batct`.

But you need to process data using processor's process_x and process_y function.

[2019-09-15 00:04] allhelllooz commented on #228
@BrikerMan Is there any update. Let us know.

[2019-09-15 03:37] BrikerMan commented on #228
This will fix in 0.5.4 version in several days. @allhelllooz

[2019-09-15 07:41] #167 closed

[2019-09-15 07:42] #200 closed

[2019-09-15 07:42] BrikerMan commented on #189
请问这个问题解决了么？

[2019-09-15 07:42] #183 closed

[2019-09-15 07:43] #201 closed

[2019-09-15 07:43] #203 closed

[2019-09-15 07:44] BrikerMan commented on #237
这一块还没研究过，有什么相关资料推荐么？关于在什么场景下需要单个 pd 文件和如何转换的

[2019-09-15 07:47] BrikerMan commented on #208
那就是说 CRF 层实际表现好一些，但是 loss 显示有问题对吧？

[2019-09-15 07:51] BrikerMan commented on #208
麻烦尝试一下把数据集使用 bert-tokenizer 进行分词，参考  https://kashgari.bmio.net/embeddings/bert-embedding/#example-usage-text-classification

[2019-09-15 07:51] BrikerMan commented on #215
请按照文档的初始化方式，提供 task 参数。
[code]

[2019-09-15 07:52] #215 closed

[2019-09-15 07:52] #216 closed

[2019-09-15 07:52] #218 closed

[2019-09-15 07:53] #219 closed

[2019-09-16 00:18] allhelllooz commented on #224
@BrikerMan also it doesn't save `task` property.

I am saving in following way
    `model.save(model_location)`

Loading and using
[code]

If I don't set `model.embedding.task` ... in eval phase I get Multilabel error as there is a if-else condition for `labeling` task and currently `None` is getting passed.

Its working with above code but saving model should be saving the task info as well.

[2019-09-16 03:40] BrikerMan commented on #224
Yep, will fix on 0.5.4 version.

[2019-09-19 01:40] Qian16 opened #242 "[Question] Connecting classification layer to BERT"
Hello @BrikerMan .  I implemented my model based on Kashagri BERT embedding.  Thus, I want to compare its performance with BERT.  So, I will fine-tune the embeddings and build the BERT based on Kashgari as follows.

[code]

My question:
1) Am I  right to implement BERT like this?
Thank you.

[2019-09-19 02:47] BrikerMan commented on #242
Yep, this is the correct way to do it. This should work.

One more thing, please check out how to use markdown currectly before next issue. Here is the document: https://guides.github.com/features/mastering-markdown/

[2019-09-19 04:23] #242 closed

[2019-09-19 06:55] aguang1201 opened #243 "[Question] 关于BERT中的layer_nums对模型性能的影响"
非常感谢up主分享的框架,很好用.我使用BERTEmbedding做了一些文本2分类的实验,发现BERTEmbedding中的layer_nums参数越大,准确率越高.layer_nums代表了,BERT的输入层,这个越大代表输出的特征表达越好,所以准确率升高,这么理解对吗?

[2019-09-19 07:22] BrikerMan commented on #243
理解对的，layer_nums 表示要取 BERT 最后的基层的特征作为这个输入的特征。根据论文使用 4 层的效果和 fine-tune 差不多，所以默认用了 4 层。
层数越多，特征越全越准，但是特征维度 = layer_nums * 768。所以数字越大，维度越大，运算越慢。这个就需要根据需求权衡了。

[2019-09-19 09:29] aguang1201 commented on #243
@BrikerMan 感谢大神的指教啊，还想再问一下，那最多能指定到多少呢？

[2019-09-19 09:35] BrikerMan commented on #243
这个我还没测试过... 不过，最多 4 层就差不多了，也没必要一味增加呀。原始论文建议也是 4 层。

[2019-09-19 09:52] BrikerMan commented on #223
请问问题解决了么？

[2019-09-19 14:16] aguang1201 commented on #243
@BrikerMan 谢谢。我测试的时候都已经加到10层了，性能还是有提升的，不知道是不是巧合，另外我发现trainable设置乘false，性能更容易提升，设置成true反而性能越训越低。是不是对BERT的finetuning不是那么容易训啊

[2019-09-19 14:26] BrikerMan commented on #243
fine-tuning 时候学习率需要非常小，否则会破坏原先学到的知识。一般情况，直接 feature-extraction 即可。

[2019-09-19 16:06] aguang1201 commented on #243
@BrikerMan 嗯嗯，是的。我的lr已经设置的蛮小了0.0001.感谢你的耐心回复。

[2019-09-19 16:06] #243 closed

[2019-09-20 14:44] CoSeCant-csc opened #244 "[BUG] model load, then fit (re-train), error of layer_crf"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-20 14:49] BrikerMan commented on #244
This is a confirmed bug, will fix in 0.5.4 version.

[2019-09-21 09:24] allhelllooz opened #245 "Errors in Text Classification with Bert"
I am following this [link](https://kashgari.bmio.net/tutorial/text-classification/) to build simple text classifier model. Using the similar data format as given in example, even the classes are same 'a' and 'b'. Just data volume is increased and getting the error.

Code for data
[code]

Code for Bert model load
[code]

Code for training
[code]

I am getting following error
[code]

[2019-09-21 09:29] BrikerMan commented on #245
Please change the last line of the code and paste the result.

[code]

[2019-09-21 09:41] allhelllooz commented on #245
It prints `{'a': 0}` ... not sure why b index is not there.
But when I print this ->
[code]

Output is
[code]

[2019-09-21 09:44] BrikerMan commented on #245
It is wired, it should have two labels in this dict. try `print(set(train_y))`

[2019-09-21 09:45] allhelllooz commented on #245
`print(set(train_y))` ==> {'a', 'b'}
Can I set it myself and then run ?

[2019-09-21 09:46] BrikerMan commented on #245
Yep, try:
[code]

[2019-09-21 09:50] allhelllooz commented on #245
Throws me error
[code]

Also I tried this
[code]

It also print this ->
[code]

[2019-09-21 09:55] allhelllooz commented on #245
Wow ... there is some wodo thing happening ...
I restarted my jupyter and now everything is working !!!
Do you have any idea how this is possible ??
Please do answer and close this question.

[2019-09-21 09:59] BrikerMan commented on #245
Actually, I have no idea. Maybe it is just an error of Jupiter....

[2019-09-21 10:39] allhelllooz commented on #245
ok ... I had to do build and then fit for some reason. Only fit doesn't work in my case at-least. But thanks for replaying so fast as always.

[2019-09-21 10:39] #245 closed

[2019-09-22 04:03] BrikerMan commented on #174
@CyberZHG could you help me with the issue. I don't know how to implement a multi-GPU / TPU supported layer.

[2019-09-22 10:22] ericperfect opened #246 "为什么训练时预测的结果和保存后在读取预测的结果差比较大，读取模型时候是不是有什么问题？谢谢"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-22 13:00] BrikerMan commented on #246
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

[2019-09-22 13:10] ericperfect opened #247 "保存模型和加载模型"
你好，我在GPU环境下训练完模型后直接预测的结果和保存模型然后读取再预测的结果出入比较大，环境也是按照推荐配置的。尝试了很久，仍然没有解决，我试过直接用keras的save存储但是读取的时候会报错。

谢谢！

[2019-09-22 13:42] #246 closed

[2019-09-22 13:43] BrikerMan commented on #247
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

[2019-09-23 03:29] CyberZHG commented on #174
You don't need to do anything to support multi-GPU. It's because this implementation of CRF layer must be the last layer in 'join' mode. However, a concatenation layer will be created to merge the outputs (from CRF layers) from different GPUs.

[2019-09-23 03:42] CyberZHG commented on #174
I think one way to use this CRF for multi-GPU in 'join' mode is:

* Build the model without the CRF
* Convert to multi-GPU model
* Add CRF layer to the output of the multi-GPU model in CPU context
* Compile the model with the CRF loss

[2019-09-23 05:39] wxy521131418 opened #248 "[Question] Better code completion for loaded model"
大神您好，在做多分类预测的时候，我看您封装的predict只能输出最大概率对应的那个类别，但是不能输出最大概率值是多少

[2019-09-23 05:43] BrikerMan commented on #248
Just use `predict_top_k_class` instead of `predict`. Here is the docs: https://kashgari.bmio.net/api/tasks.classification/#predict95top95k95class

[2019-09-23 05:54] wxy521131418 commented on #248
我在建立模型是可以用这个predict_top_k_class方法的，
但是在使用kashgari.utils.load_model加载模型的时候就没有predict_top_k_class这个方法了

[2019-09-23 05:56] BrikerMan commented on #248
额，不应该啊，加载的模型是没有代码提示还是调用了会报错？

[2019-09-23 05:57] wxy521131418 commented on #248
![图片](https://user-images.githubusercontent.com/32291786/65404175-0ebfc980-de0a-11e9-829b-d2466e23319c.png)

[2019-09-23 05:58] BrikerMan commented on #248
哦哦，这个是加载的模型类型被判断为其基类导致的，其实有的。你可以直接使用，代码补全我看看有没有什么办法解决。

[2019-09-23 06:04] wxy521131418 commented on #248
嗯嗯，直接用是可以的，谢谢大神~太方便了

[2019-09-23 06:47] buptzcW opened #249 "[Question] bertembedding层的细节问题"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-24 06:55] buptzcW opened #250 "[BUG] seems that the BERTembedding cant use the params variable"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-24 07:19] BrikerMan commented on #250
You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue

[2019-09-24 07:22] BrikerMan commented on #249
1. 使用 BERTEmbedding().tokenizer，这个根据你是用的模型的词表生成的 Tokenizer. 输入 tokenize 后的 x 到 fit 方法即可。
2. 自己用 generator 可能比较麻烦一些，因为你还需要考虑你的 x,y 转对应的张量等操作。具体可以看 `model.fit` 方法的实现。其实本来就是使用 generator 去训练，所以直接 fit 就够了。
3. 上下文没太明白...

[2019-09-24 07:27] buptzcW commented on #249
@BrikerMan 谢谢回复。因为您的generator中对数据进行了shuffle，而这个参数没有暴露在fit的接口上，所以我不好对shuffle进行False设置。然后，今天我又遇到一个问题就是：您的bertembedding层有一个参数variable并不能使用……，所以没有办法实现每个batch的长度按照batch中最大的长度来padding，想问一下这要怎么办呢

[2019-09-24 07:31] BrikerMan commented on #249
1. shuffle 0.5.4 版本增加一下，作为可配置参数。目前可以自己重写迭代器实现。
2. variable 这个是实验性功能，其实不太建议使用。因为实际测试发现由于你的 batch 里面的补全和你实际与测试后的补全不一致导致结果准确度没有统一补全时候好。

[2019-09-24 07:45] buptzcW commented on #249
@BrikerMan 谢谢指导。如果我非要尝试这种方法的话，我重写class BERTEmbedding，然后将图中代码的sequence_length设置为None是不是就行了？
![image](https://user-images.githubusercontent.com/33115565/65491759-4306b900-dee2-11e9-9953-83f8edd62635.png)

[2019-09-24 07:46] #250 closed

[2019-09-24 07:46] BrikerMan commented on #249
是的

[2019-09-24 07:47] buptzcW commented on #249
@BrikerMan thanks alot

[2019-09-25 14:18] buptzcW commented on #249
@BrikerMan 大佬，这里又出来了一个新问题，就是在model.compile阶段，我给compile传递自己的优化器和metrics就会报错:

![1569421039(1)](https://user-images.githubusercontent.com/33115565/65609462-644ece80-dfe2-11e9-9373-132c69fc9302.jpg)

[2019-09-25 14:19] buptzcW commented on #249
~/.conda/envs/py3.6/lib/python3.6/site-packages/tensorflow/python/keras/backend.py in set_value(x, value)
   3022           (of the same shape).
   3023   """
-> 3024   value = np.asarray(value, dtype=dtype(x))
   3025   if ops.executing_eagerly_outside_functions():
   3026     x.assign(value)

~/.conda/envs/py3.6/lib/python3.6/site-packages/numpy/core/numeric.py in asarray(a, dtype, order)
    53

[2019-09-26 02:01] BrikerMan commented on #249
复现代码呢？

[2019-09-26 02:06] buptzcW commented on #249
@BrikerMan 我想采取的策略是使用分层设置学习率和RAdam优化器，采取了keras版本的[https://github.com/CyberZHG/keras-lr-multiplier](url)[https://github.com/CyberZHG/keras-radam](url)就报错了，代码如下：
layer_lr = {'bidirectional':100.0,'dense':100.0}

optimizer = LRMultiplier(RAdam(learning_rate = 1e-4,
                               total_steps = total_steps,
                               warmup_proportion = 0.1,

[2019-09-26 02:12] buptzcW commented on #249
@BrikerMan 抱歉写漏了一一些信息，params就是metrics和optimizer的字典，demo就是[https://eliyar.biz/nlp_train_and_deploy_bert_text_classification/](url)

[2019-09-26 02:17] BrikerMan commented on #249
这里需要注意一下一个细节，我们使用的是 `tf.keras`，所以在引入 Keras RAdam 之前设定需要 [环境变量](https://github.com/CyberZHG/keras-radam#use-tfkeras-or-tf-20) 或者先引入 kashgari 再引入别的 optimizer。应该就可以解决。

[2019-09-26 02:45] buptzcW commented on #249
@BrikerMan 感谢大佬指点，修改环境变量可以解决radam的兼容问题，但是分层学习率keras_lr_multiplier加上去之后还是会提示相同的错误，

[2019-09-26 02:46] BrikerMan commented on #249
这个就得看看原仓库是否支持 tf.keras 了。┓( ´∀` )┏

[2019-09-26 02:53] zxyza opened #251 "大佬 微信群进不去了，得需要别人拉进去"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-09-26 02:57] buptzcW commented on #249
从这个优化器的backend.py来看，应该是支持的，😭
import os

__all__ = [
    'keras', 'utils', 'activations', 'applications', 'backend', 'datasets', 'engine',
    'layers', 'preprocessing', 'wrappers', 'callbacks', 'constraints', 'initializers',
    'metrics', 'models', 'losses', 'optimizers', 'regularizers', 'TF_KERAS', 'EAGER_MODE'
]

TF_KERAS = False
EAGER_MODE = False

if 'TF_KERAS' in os.environ and os.environ['T

[2019-09-26 05:18] zxyza commented on #208
我也发现了这个问题，但是我感觉应该是标注数据不够准确的原因吧，比如 我的train_data中有电子计算机 ，然后dev_data中存在  已经被人工标注的数据例如  电子计算器，训练后的模型针对  电子计算器进行预测的时候只能将  计算器  标注出来，但是  电子  却没有被预测标注出来，这种二者预测结果和标注的结果并不完全一致的时候就会导致正确率下降对吧；

[2019-09-26 06:44] BrikerMan commented on #251
<img width="659" alt="WeChatbd1b7d22dbff90adcc5a842167b784af" src="https://user-images.githubusercontent.com/9368907/65664554-21d1d400-e06c-11e9-93ff-21d20a44d6a4.png">

加群管理员入群~

[2019-09-26 06:44] #251 closed

[2019-09-27 00:34] #169 closed

[2019-09-30 07:51] #238 closed

[2019-09-30 07:51] #229 closed

[2019-09-30 07:51] #223 closed

[2019-09-30 07:51] #189 closed

[2019-09-30 07:54] #240 closed

[2019-09-30 11:47] #249 closed

[2019-09-30 11:47] #244 closed

[2019-09-30 11:48] #248 closed

[2019-09-30 11:48] #228 closed

[2019-09-30 11:48] #224 closed

[2019-09-30 11:48] #222 closed

[2019-09-30 11:48] #227 closed

[2019-09-30 12:58] #204 closed

[2019-10-02 00:11] rhamnett opened #258 "Can't open gpt-2 model"
Providing model directory to

gpt2_embedding = GPT2Embedding('./models/117M/', sequence_length=30)

results in:
[code]

Also lots of string references to BERT inside the class probably needs updating

[2019-10-02 00:39] BrikerMan commented on #258
This is a version + document issue. Please follow the document on https://Kashgari.bmio.net . Uninstall Kashgari and install the Kashgari-tf. Then add task parameter to the embedding.

[2019-10-02 00:44] rhamnett commented on #258
thanks for quick response, all ok

[2019-10-02 00:44] #258 closed

[2019-10-02 08:44] chenfengshf opened #259 "how about adding xlnet as embeding.."

[2019-10-02 08:54] BrikerMan commented on #259
duplicated issue #113

[2019-10-02 08:54] #259 closed

[2019-10-02 19:17] #217 closed

[2019-10-05 07:14] lsgrep commented on #239
TF 2.0 support is a big upgrade, and probably not backward compatible.  I think we should create a new branch and release a major version for this feature.

[2019-10-05 14:02] BrikerMan commented on #239
I have created the [TF2.0 branch](https://github.com/BrikerMan/Kashgari/tree/tf_2.0). After testing with the test cases, here are the issues I think we need to fix first.

- [ ] Fix Custom Layers
   - [ ] AttentionWeightedAverageLayer
   - [ ] AttentionWeightedAverageLayer
   - [ ] CRF Layers
   - [ ] DPCNN_Model
- [x] `utils.convert_to_saved_model` function
- [ ] `tasks.base_model.BaseModel.build

[2019-10-06 12:25] #233 closed

[2019-10-07 21:23] kl0211 commented on #224
@BrikerMan, I tested saving and loading on v0.5.4. The multi-label property does persist after loading, but the layer_dense activation property still changes from sigmoid to softmax.

[2019-10-08 02:39] BrikerMan commented on #224
@lsgrep, please check out this issue.

[2019-10-08 03:56] MattHuntebrinker opened #260 "Can't run model.predict with bert embedding"
- [x ] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [ x] I have read the [documents](https://kashgari.bmio.net)

## Environment

- OS [e.g. Mac OS, Linux]: Mac OS
- Python Version: 3.6

## Issue Description
### What

I've looked through the docs and issues, and can't seem to find the fix for bert sp

[2019-10-08 04:10] BrikerMan commented on #260
Could you provide a shared colab to reproduce this issue?

[2019-10-08 04:19] MattHuntebrinker commented on #260
https://colab.research.google.com/drive/1yRDY-OHMVpab3bS-DrXi5ftlktGHLQ_0

[2019-10-08 04:22] lsgrep commented on #239
[code]

[2019-10-08 04:24] lsgrep commented on #239
As the migrate script shows, `base models` and `crf` layers require fixes at least.

[2019-10-08 04:24] BrikerMan commented on #239
@lsgrep we should try to support both 1.14 and 2.0.

[2019-10-08 20:36] MattHuntebrinker commented on #260
After working on this issue today, I was able to tokenize the string, and process the text, but with a sigmoid activation function, the highest confidence was .0022, with test and validation accuracy during training reaching over .998

[2019-10-09 03:08] BrikerMan commented on #239
I think the `kashagri-tf` naming is a bad decision. Maybe we will fix this issue with the new version. **Yea, rename again... Hear me out**

The final result looks like this.

| Backend | pypi version |
| --------- | ---------------------------- |
| TensorFlow 2.0 | `pip install 'kashgari>2.0.0'` |
| TensorFlow 1.14 | `pip install 'kashgari>1.0.0,<2.0.0'` or `pip install kashgari-tf`|
| Keras | `p

[2019-10-10 08:03] illcat opened #261 "[Feature request] The min_count of analyze_corpus cannot be modified. It is recommended to add min_count to the BaseProcessor."
[code]

[code]

[2019-10-10 08:21] BrikerMan commented on #261
@lsgrep I think it is a really reasonable request to add `min_count` parameter to the base_processor.

- min_count (int, optional, defualt=3) – Ignores all words with total frequency lower than this.

Maybe you can add this?

[2019-10-10 08:33] illcat commented on #261
I am pulling the request.

[2019-10-10 10:37] illcat opened #263 "[BUG] The official website tutorial information of labeling is incorrect!"
error
[code]
correct
[code]

[2019-10-12 06:28] BrikerMan commented on #239
Updated name changing propose at #265

[2019-10-12 14:27] #263 closed

[2019-10-12 15:20] illcat opened #266 "[Feature request] Multi Output Model do not seem to support labeling tasks."
It seems that the output is not fixed length
Do I need to complete the input text to a fixed length?

x = [
    ['我', '想', '全', '部', '回', '复'],
    ['我', '想', 'q', 'q', '[pad]', '[pad]'],
    ['你', '去', '过', '赌', '场', '[pad]'],
]

[2019-10-12 15:24] illcat commented on #266
I think the labels for each output should be processed separately.

[2019-10-13 01:29] vprelovac opened #267 "[Question] Using it with glove?"
## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

- [X ] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [X ] I have read the [documents](https://kashgari.bmio.net)

## Environment

- Google Collab

## Question

I love the ease

[2019-10-14 03:52] xiaonian0430 opened #268 "bert_embed = BERTEmbedding('<PRE_TRAINED_BERT_MODEL_FOLDER>',task=kashgari.LABELING,sequence_length=100） 执行报错"
WARNING: Entity <bound method FeedForward.call of <keras_position_wise_feed_forward.feed_forward.FeedForward object at 0x7fb93d5bb668>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method FeedForward.call of

[2019-10-14 03:53] xiaonian0430 commented on #268
请问，这是什么原因？

[2019-10-14 07:11] melonux opened #269 "val_acc drops after certain epoch"
## Environment
- Ubuntu 18.04.3 LTS
- Python 3.7
- tensorflow 1.14.0
- kashgari-tf 0.5.4

## Question

I would like to repeat your result. I write a simple code:

[code]

I find that val_acc suddenly drops at after 10 epochs if BiLSTM_CRF_Model or BiGRU_CRF_Model is used, while BiGRU_Model and BiLSTM_Model are stable.

FYI, the output is listed below. Could you tell me why it goes wrong and how to

[2019-10-14 10:04] BrikerMan commented on #267
You need to convert glove model to gensim model, then you can use it with Kashgari. Then save the gensim model with `model.wv.save_word2vec_format` function.

Here is the document about convert: https://radimrehurek.com/gensim/scripts/glove2word2vec.html

[2019-10-14 15:43] vprelovac commented on #267
@BrikerMan And how to properly process sentences?

Would you consider adding this to documentation the same like you have for Bert? https://kashgari.bmio.net/embeddings/bert-embedding/

[2019-10-15 12:27] caizp91 opened #270 "[Question]多标签文本分类，模型保存后，重新加载预测出的数据为单标签的"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-10-16 02:19] #269 closed

[2019-10-17 02:00] captain2017 opened #271 "[Question] Unknown: CUDNN_STATUS_BAD_PARAM"
## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [ ] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aiss

[2019-10-17 07:01] BrikerMan commented on #270
更新一下版本~ 已修复这个问题

[2019-10-17 07:02] BrikerMan commented on #267
You need to tokenize sentences to match the Embedding you are using. Since there are many kinds of Word Embeddings with different tokenize policy, you need to figure this out. Sorry.

[2019-10-17 09:17] caizp91 commented on #270
0.5.4版本吗？今天我更新了下，好像也是一样的，预测出来的也是单标签

[2019-10-17 16:16] harry771 commented on #208
有一个关于ner fine-tune的问题，就是预测的时候该调用哪个函数，fine-tune之后要测一下效果，是直接调用predict吗？

[2019-10-18 06:25] BrikerMan commented on #268
请按照 issue 模板提问~

[2019-10-18 07:36] #271 closed

[2019-10-19 10:28] allhelllooz opened #273 "How to train on limited RAM when I have >10million documents"
## Environment
Ubuntu 16.04, Python 3.7

## Question
I have p2.xlarge machine with 60gb ram and 11gb gpu.
When I am taking ~0.8 million documents for NER Labelling task >55Gb of RAM is consumed ... but I am able to train.

Now I want to train on all >10million documents ... how can I do that with limited memory available.
I am going to try 0.8 mill documents with 4 epochs, then save model and load

[2019-10-19 11:26] allhelllooz commented on #273
Additionally, what is the difference between `fit` and `fit_without_generator`.
Will it help me in training the way I explained above ?

[2019-10-19 12:11] BrikerMan commented on #273
This is a really cool use-case. I am happy to help out. Actually we can train tons of data with limited RAM, but need to make some changes.

Let's start with the `fit` and `fit_without_generator`. `fit` is equal to keras's `fit_with_generator`, a lazy load function that could handle lots of data with limited RAM. `fit_without_generator` equals to keras's `fit`, slightly faster than `fit_with_gener

[2019-10-19 12:21] BrikerMan commented on #273
Let's keep it simple first. Which embedding are you using for this task?

[2019-10-19 13:26] allhelllooz commented on #273
Cool. Thanks for the reply. I am using bert embeddings and BiGRU model for labelling ner task.

I have used ImageDataGenerator from keras before, which reads few images in memory not everything. Wanted to check is something like that is possible or not.
Also, noob in Tensorflow and keras so not aware how to solve this use case.

[2019-10-19 13:36] BrikerMan commented on #273
Yea, we need to implement something similiar to the ImageDataGenerator. I will try to do that tomorrow and come back to you.

[2019-10-19 13:38] allhelllooz commented on #273
Thanks. That would be a very cool solution .. btw when I load model and try to train again on some other dataset why does it not work ?? When we save model do we save all states .. right??

[2019-10-21 01:00] harry771 opened #274 "[Question] 加载模型报错：ValueError: Unknown layer: BiLSTM_CRF_Model"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-10-21 01:12] yaleimeng commented on #113
最近体量更小的Albert也出来了，但跟普通bert结构上有很大差异不能直接加载。希望能早日兼容这一模型。

[2019-10-21 05:02] lsgrep commented on #274
Hi, 你用的Kashgari版本是什么？

[2019-10-21 06:07] harry771 commented on #274
我使用的是1.0.0版本，但如果我使用这段代码则是可以加载的
`import kashgari

model = kashgari.utils.load_model('bert_blstm_crf.h5')`
我发现在这个教程里说了保存方法：https://eliyar.biz/nlp_train_and_deploy_bert_text_classification/
  @lsgrep 还有一个问题是这个模型是否可以直接转为pb文件用于线上部署呢，我们现在的线上环境和教程里面提的差别比较大。

[2019-10-21 07:14] BrikerMan commented on #274
需要使用内置方法加载，如果需要自定义加载方法，可以查看源代码进行修改。

支持使用 TF Serving 部署，请看文档 https://kashgari.bmio.net/advance-use/tensorflow-serving/

[2019-10-21 08:32] harry771 commented on #274
ok,@BrikerMan谢谢答复，请问有打算增加对albert的支持吗？

[2019-10-21 08:42] BrikerMan commented on #274
坐等 keras-bert 支持 albert 呢，可以在这里跟进进度 https://github.com/CyberZHG/keras-bert/issues/159

[2019-10-21 08:48] harry771 commented on #274
我记得有一个版本的keras倒是支持了https://github.com/bojone/bert4keras，加油Briker，期待更好的kashgari。

[2019-10-22 08:33] allhelllooz commented on #273
Hi @BrikerMan .. were you able to do something ? Let me know. I will also try something out in-between. Thanks.

[2019-10-22 09:18] urvishp80 opened #277 "How to specify the bert model path? What is it expecting?"
I am trying to use this library for my personal project. Here is what I am doing in the code

[code]
It is giving error all the time like this

```WARNING:root:CUDA GPU available, you can set `kashgari.config.use_cudnn_cell = True` to use CuDNNCell. This will speed up the training but will make model incompatible with CPU device.
WARNING:root:CuDNN enabled, this will speed up the training, but wil

[2019-10-22 09:20] BrikerMan commented on #277
You need to add task param to BERTEmbedding init function. [Here is the doc](https://kashgari.bmio.net/embeddings/bert-embedding/).

[2019-10-22 09:20] #277 closed

[2019-10-22 10:40] urvishp80 opened #278 "Error using the simple code provided in the doc. How to solve it?"
I am trying out this library for the first time and I am facing a lot of trouble in doing transfer-learning in NLP. Here is my code I am using

[code]

More or less it is copied from the docs and still not runnig properly. Here is the error I am getting

[code]

What is wrong here in the code? Also can you guys update the `readme` with the links to the `BERT` embedding and `GPT2` embedding this wa

[2019-10-22 16:27] sld opened #279 "[Question] Can I Use Kashgari text labelling feature in hierarchical text classification"
Hi, thanks for the great lib!

I have a sentence with hierarchical labels, e.g.
- sentence: "I am living on Planet Earth"
- labels: ["category1", "subcategory1", "subsubcategory1"].

So the labels has hierarchical structure ("category1" => "subcategory1" => "subsubcategory1").

Is it possible to use sentence labelling Kashgari BLSTM + CRF model for such hierarchical text classification task?

[2019-10-23 02:35] BrikerMan commented on #279
No, so far you can't label hierarchical structure using kashgari. Sorry.

[2019-10-23 05:15] #278 closed

[2019-10-23 05:15] urvishp80 commented on #278
I used the code from the documentation which has full explanation about on how to use the BERT embeddings.

[2019-10-23 06:05] BrikerMan commented on #278
You are using SMP2018ECDTCorpus data instead of ChineseDailyNerCorpus. You need to use labeling corpus with labeling task.

[2019-10-23 07:56] #261 closed

[2019-10-23 10:15] wangdong1992 opened #280 "多标签文本分类，metrics应该怎么设置"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-10-23 12:10] luluforever opened #281 "[P100上训练bert-bilstm-crf做NER太慢了]，请问有加速方法吗"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-10-23 13:51] #279 closed

[2019-10-24 02:36] BrikerMan commented on #281
没有

[2019-10-24 02:36] #281 closed

[2019-10-24 02:37] BrikerMan commented on #280
使用了默认 accuracy 方法，可能存在同样的问题~

[2019-10-24 04:07] echan00 opened #282 "[Feature request] Using XLM pretrained models"
Is it possible to use XLM pretrained models (https://github.com/facebookresearch/XLM) with Kashgari?

[2019-10-24 06:38] candystar commented on #268
请问怎么解决的？我也遇到这个问题

[2019-10-24 06:50] candystar opened #283 "[BUG] 序列标注任务加载BERTEmbedding遇到问题"
WARNING: Entity <bound method TokenEmbedding.call of <keras_bert.layers.embedding.TokenEmbedding object at 0x7f686bcdf940>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method TokenEmbedding.call of <keras_b

[2019-10-25 09:35] June-lizj commented on #245
I have encountered the same problem. In the end, I found out that there is only one category in train_y. Modify train_y to make it contain multiple categories and it will work.
I hope that I can help people who have the same problem.

[2019-10-25 10:45] benman1 opened #284 "Named entity recognition basic test - please fix/improve documentation"
I am just trying to run the basic example for named entity extraction one the [kashgari tutorial page](https://kashgari.bmio.net/tutorial/text-labeling/#train-basic-ner-model):

[code]

The problem is that train_y is a list of lists of labels.
[code]

So you can't do set(train_y)

I've tried a quick fix like this:

[code]

But I get another error:

[code]

I might try digging in a bit more later.

[2019-10-25 10:59] benman1 commented on #284
I've just noticed that this works with BiLSTM_CRF_Model.

[2019-10-25 13:22] benman1 commented on #284
Ok, I've managed to work around the issue with `BiLSTM_CRF_Model(bert_embed)`.

[code]

[2019-10-25 15:02] benman1 commented on #284
I am still noticing nice things about your library. There is actually a lot of documentation in the readmes and in the tests. It's a pleasure to dive in more.

So, I guess, the best way for the label list would have been to set the processor argument when creating the embedding.

I am still running into new problems, however. Here's another problem with loading the saved parser model:

[code]

[2019-10-26 02:29] BrikerMan commented on #284
I tried your code, it works. https://colab.research.google.com/drive/1XEWfLkEMtwCpVB7UCNT_nX2Amc3aOZwy

[2019-10-29 10:15] benman1 commented on #284
Thanks for having a look and for providing the link. I really don't know what happened. I suppose I must have had some old version installed. Everything works just fine now.

[2019-10-31 07:24] WEN-MIN opened #285 "[Feature request] 模型保存和模型导入的效率问题"
你好，感谢发布这个方便使用的库，我在使用中遇到模型导入效率低和占用资源高的问题。
具体的是：docker镜像导入一个训练好的模型是比较正常的，导入完成时间在一分钟以内，但是，若同时在一个镜像里面导入7个训练好的模型，模型加载的时间变得很长，接近30分钟左右，并且，CPU和内存的占有率很高，请问有什么比较高效的方法同时快速导入多个模型，并且CPU的占有率不是那么的高？

[2019-10-31 14:49] xyk1994 opened #286 "[Question] 请问BERTEmbedding和Keras模型的正确结合姿势"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-11-01 03:05] harry771 opened #287 "[Question] 请问bert模型的weight可以改动不？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-11-02 16:25] Hbenmazi opened #288 "[BUG]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-11-04 00:50] #283 closed

[2019-11-04 08:15] QGB commented on #218
In [86]: pip install --user onedrivesdk
Looking in indexes: http://mirrors.tencentyun.com/pypi/simple
Collecting onedrivesdk
  Downloading http://mirrors.tencentyun.com/pypi/packages/b3/76/9a3fe5b36079f5c40b33c89ad6f7737e3b8609010a80c9ed24d762ddb93e/onedrivesdk-2.0.tar.gz
    ERROR: Command errored out with exit status 1:
     command: /root/anaconda3/bin/python -c 'import sys, setuptools, tokeniz

[2019-11-04 10:29] #266 closed

[2019-11-04 21:15] #260 closed

[2019-11-05 09:33] habolivier opened #289 "[Question]"
Hello  Dear @BrikerMan  I would like to ask how we can use Kashagari with BERT embedding on multi-input model.
Thank you.

[2019-11-06 09:15] #267 closed

[2019-11-06 09:26] BrikerMan commented on #288
谢谢反馈~ 下一版本修复~

[2019-11-06 09:28] #284 closed

[2019-11-06 09:33] BrikerMan commented on #286
其实目前的 Kashgari 是基于 tf.keras，所以只能和 tf.keras 模型结合，不能用 keras 的层。

[2019-11-06 09:34] BrikerMan commented on #285
没明白如何导入？

[2019-11-11 09:22] BrikerMan commented on #273
Sorry, it has been very busy for the last several weeks. I will come back to you ASAP.

[2019-11-12 03:31] BrikerMan commented on #273
@allhelllooz could you prepare token-dict and label-dict by yourself?

[2019-11-12 13:15] allhelllooz commented on #273
I should be able to do that. Can you send me format for token-dict and label-dict ?

[2019-11-13 11:04] #270 closed

[2019-11-13 17:39] #208 closed

[2019-11-14 07:09] xiaonian0430 opened #290 "事先训练好命名实体模型后，通过tensorflow-server 接口响应的结果比较慢（平均需要800~900ms），有什么解决办法吗？"
r = requests.post("http://localhost:8501/v1/models/bgru:predict", json={"instances": tensor.tolist()})
preds = r.json()['predictions']

[2019-11-15 01:37] rhamnett opened #291 "BERT fine tuning only last 'n' layers"
Hi, thanks for a wonderful library. I am using the BERT embeddings and I noticed there is a setting when initialising the BERTembedding  - trainable=True (ref https://kashgari.bmio.net/embeddings/bert-embedding/).

However when I set this the model makes all 300m parameters get trained.

There is a Keras implementation of BertLayer ( see https://gist.github.com/rhamnett/493cda4e35800fce650bbf127b0

[2019-11-17 09:40] #274 closed

[2019-11-17 21:47] josenxx opened #292 "能给GPT2 Embedding添加一个设置trainable=False的功能吗吗？[Feature request]"
我想去用GPT2 Embedding但是不能把trainable设置成false，于是程序无法运行。
报错是显存不够，就把显卡从k80换成了p6000，但还是不行。
如果能把trainable设置成false大概就不会报错，因为BERTEmbedding在k80上能正常运行
以下是在k80上的报错信息
---------------------------------------------------------------------------
ResourceExhaustedError                    Traceback (most recent call last)
<ipython-input-5-daa8eaa9845a> in <module>
     13 model = BiLSTM_Model(embedding)
     14 start

[2019-11-18 01:52] Klauszhao opened #293 "[Question] why i can't install !pip install 'kashgari>=2.0.0' in kaggle kernel"
## Check List
i haved search the quention but i can't fix it

## Environment

- OS [e.g. Mac OS, Linux]: netebook
- Python Version: 3.6
- requirements.txt:

## Question

the error info:

[A clear and concise description of what you want to know.]
ERROR: Could not find a version that satisfies the requirement kashgari>=2.0.0 (from versions: 0.1.1, 0.1.2, 0.1.3, 0.1.4, 0.1.5, 0.1.6, 0.1.7, 0.1.8, 0.

[2019-11-18 02:22] BrikerMan commented on #293
Because we have not released 2.0.0 yet. You can use 1.0.0 with TF 1.14

[2019-11-18 02:22] #293 closed

[2019-11-19 01:04] Klauszhao commented on #293
ok , maybe i  could do something for that, hah

[2019-11-20 03:35] #280 closed

[2019-11-20 07:35] #268 closed

[2019-11-20 09:41] allhelllooz commented on #234
<img width="1437" alt="Screenshot 2019-11-20 at 3 10 21 PM" src="https://user-images.githubusercontent.com/54931618/69227498-e5bc7a80-0ba7-11ea-909c-71a708393039.png">

Got the same issue ... is this resolved ?? CRF with multi-gpu ??

[2019-11-21 23:59] rhamnett commented on #291
@BrikerMan would you be so kind as to advise? thanks

[2019-11-25 13:42] AntonZhao opened #295 "这个变量名字可以改下哈:)"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-11-27 08:31] sevenold commented on #290
maybe you can try the grpc channel

[2019-11-28 04:31] #287 closed

[2019-11-28 11:59] urvishp80 commented on #291
Any update on this as I want to do the same and could not find any better way. @rhamnett @BrikerMan

[2019-11-28 15:27] rhamnett commented on #291
I will see if i can get time to implement something next week.

[2019-12-01 07:06] BrikerMan commented on #290
请问使用什么配置的机器做推断？

[2019-12-02 05:56] #286 closed

[2019-12-02 10:51] #289 closed

[2019-12-03 01:43] xiaonian0430 commented on #290
我使用的环境配置如下：
## Environment

- Centos 系统
- 2核CPU
- 4G内存
- 无GPU

[2019-12-03 03:13] BrikerMan commented on #290
目前我能想到的办法就是可以在 CentOS 上编译 tf-serving 来提速，可以参考 https://hackernoon.com/how-we-improved-tensorflow-serving-performance-by-over-70-f21b5dad2d98

[2019-12-03 07:27] urvishp80 opened #296 "Can not use exported model by creating custom API for loading frozen graph."
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-12-03 07:52] BrikerMan commented on #296
Maybe try to use tensorflow-serving with a docker image to check out the pd file?

[2019-12-03 09:30] urvishp80 commented on #296
@BrikerMan I am not able to run with the docker. I do not know how to do it actually, I tried a few online tutorials but after cloning the docker image I am not able to do anything. I tried some command like this
[code]
What do you think is wrong with this? also, can you provide some good resource to run tf-serving with docker?

[2019-12-03 09:32] BrikerMan commented on #296
If you are not familiar with docker, maybe you can try the load model on [Colab](https://colab.research.google.com/) or Linux Environments. Windows always have some wired environment issues. I don't know how to help too.

[2019-12-03 09:46] urvishp80 commented on #296
`https://drive.google.com/drive/folders/1LmtT926EOinNMgtYT0QvfKdglLcroPU1?usp=sharing` Here is the model. I ave uploaded on the drive. I am trying the colab meanwhile if you can run this using the docker then it will be good as I have to serve it at ay cost. Thanks.

[2019-12-03 10:44] #285 closed

[2019-12-03 11:02] BrikerMan opened #297 "Add contributors"
@all-contributors please add @alexwwang @lsgrep for code

[2019-12-03 11:05] BrikerMan commented on #297
@all-contributors please add @BrikerMan for doc, tests and code

[2019-12-03 11:11] BrikerMan commented on #297
@all-contributors please add @alexwwang @lsgrep for code

[2019-12-03 11:12] BrikerMan commented on #297
@all-contributors please add @lsgrep for code

[2019-12-04 03:15] qiuwei commented on #78
我们能在cpu上优化到30ms，不过做了大量工作。

[2019-12-04 04:50] BrikerMan commented on #78
@qiuwei 可以分享一下优化经验么？

[2019-12-04 05:15] urvishp80 commented on #296
Hello, @BrikerMan have you got any luck with this? I created the colab but actually it is the same code I posted above without any change, also the model I gave is the same so no change in that as well. Let me know if you have any updates? On my side, I tried different things like changing the version of the protobuf but that did not work at all.

[2019-12-04 08:12] urvishp80 commented on #296
I was able to solve the issue with the following code for loading the model
[code]

The thing is the function in `utils` uses `tf.saved_model.save` function to save the model for serving hence to load the model we have to use the `tf.saved_model.loader.laod` method and not the method with the ` graphDef.ParseFromString(graphFile.read())`. This can be changed into the `util` module too so that ther

[2019-12-04 14:07] BrikerMan commented on #296
@urvishp80 In tensorflow2.0, SavedModel is the default model format. So you can use it for inferencing. You can use SavedModel on 1.x version by calling `tf.saved_model.loader.laod` right? If so, no need to change.

[2019-12-05 04:55] urvishp80 commented on #296
@BrikerMan yeah, you are right. I was able to use `tf.saved_model.loader.laod` to load the model. Closing the issue now.

[2019-12-05 04:55] #296 closed

[2019-12-05 09:09] urvishp80 opened #301 "[Feature Request] Add regression task."
**Is your feature request related to a problem? Please describe.**
There are many problems in NLP which require the model to predict the floating-point number just like regression. For example, sentiment analysis, or predicting some score like how much the text data is good. Another example is [this competition on kaggle](https://www.kaggle.com/c/google-quest-challenge/submissions) where we have t

[2019-12-05 09:18] 4kssoft opened #302 "[Question] Load model on CPU"
I trained BiLSTM_CRF_Model on GPU (colab) and save it. I possible to load this model on device without GPU?
I have an error on loading:
`No OpKernel was registered to support Op 'CudnnRNNV2' used by node layer_blstm/forward_cu_dnnlstm_1/CudnnRNNV2`

[2019-12-05 11:03] BrikerMan commented on #302
Update to the latest version `kashgari==1.0.0` and set `kashgari.config.use_cudnn_cell = False` (False is the default value). Then you can predict on CPU.

[2019-12-05 18:11] 4kssoft commented on #302
Thanks. It works. I just had to re-train the model with this setting

[2019-12-05 18:11] #302 closed

[2019-12-06 07:30] Gjh9508 opened #304 "使用kashgari.utils.load_model 加载模型进行标签预测会报错[BUG]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-12-06 07:48] BrikerMan commented on #304
谢谢反馈问题，已修复。
可以按照以下方案安装修复分支测试一下，这个分支过两天作为下一版本发布。
麻烦测试完反馈一下结果。

[code]

[2019-12-06 07:57] #297 closed

[2019-12-06 08:00] BrikerMan commented on #301
Check the new Scoring task, I think it will solve the issue.

[2019-12-06 10:03] urvishp80 commented on #301
Sure. I will. Does it included in the release or will be there in 2.0?

[2019-12-06 10:03] #301 closed

[2019-12-07 01:19] BrikerMan commented on #301
This task will release in 1.1.0 version.

[2019-12-07 08:29] Gjh9508 commented on #304
问题已经解决，谢谢！

[2019-12-13 05:53] Gosicfly opened #310 "[Question] 我在tf2.0下遇到了lstm-crf的loss为负的问题"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-12-13 06:06] BrikerMan commented on #310
请问是 Kashgari 的 crf 么？ 还有根据那个 issue？
我之前用的 CRF 实现确实会出现负数情况，现在简单粗暴的取了绝对值... 还没真正解决这个问题。

[2019-12-14 09:19] CollinNiu opened #311 "[Feature request] 模型预测结果能否输出概率值"

[2019-12-14 09:46] BrikerMan commented on #311
可以的，请看 API 文档~

[2019-12-14 09:46] #311 closed

[2019-12-14 22:40] #292 closed

[2019-12-18 06:04] AlexJakin opened #314 "在运行bert例子的时候 报错 但是也没提示什么信息，能否帮我看看。。"
我下载了bert权重文件夹，放在对应目录的了。
# 代码：
`from kashgari.embeddings import BERTEmbedding
from kashgari.tasks.labeling import BiGRU_Model
from kashgari.corpus import ChineseDailyNerCorpus

此处需要自行下载 BERT 权重
bert_embedding = BERTEmbedding("bert_model", sequence_length=30)`

# 报错：
ValueError                                Traceback (most recent call last)
<ipython-input-13-b08c3cad2989> in <module>
      4

[2019-12-18 07:07] AlexJakin commented on #314
我调试了程序了。要需要指明是什么任务的么。

bert_embedding = BERTEmbedding("bert_model", task="classification",sequence_length=30, from_saved_model=False)

[2019-12-18 15:05] lailoo opened #315 "你好，可以提供一下AVRNN与KMax_CNN两个模型的参考文献吗？"
你好，这两个模型没有找到相关文献，而又想把这两个模型作为实验的baseline，有些苦恼。可以麻烦你提供一下吗？

[2019-12-19 03:22] Gosicfly commented on #310
我是在pure tf2.0下遇到的这个问题。目前初步解决，根据实验结果猜测是因为tf.keras.layers.Bidirectional的问题，和padding和mask有关，具体关系到unroll这个参数。

biLSTM如果这么定义就会出现loss为负的问题：
`
self.biLSTM = layers.Bidirectional(
            layer=layers.LSTM(hidden_size, return_sequences=True),
            merge_mode='concat'
        )
`
改成如下方式后可修复
`
self.biLSTM = layers.Bidirectional(
            layer=layers.LSTM(hidden_size, return_sequences=True, un

[2019-12-20 11:15] cronousbaby opened #316 "[Feature request] albert 是否可以加入albert模型"
albert 是否可以加入albert模型？

[2019-12-22 15:49] #295 closed

[2019-12-24 06:18] #314 closed

[2019-12-26 02:43] JianWenJun commented on #78
@qiuwei 望大佬分享一下经验~

[2019-12-30 03:42] #290 closed

[2019-12-30 07:46] siyu828 opened #319 "[Question] 请问下，如何让该模型的服务稳定运行？"
## Environment

- OS [CentOS7.3]:
- Python Version: 3.6.2
- requirements.txt:

[code]

## Question

目前使用Kashgari的1.0.0版本提供NER的服务，但是该服务在GPU上运行一段时间后就出现OOM问题挂掉（具体时长取决于并发访问量，在低访问量的情况下没有问题，但是高并发访问的情况下大概率出现）。
请问有没有什么方法可以避免或者解决呢？ 尝试了在CPU的docker环境下去限制资源，在超过资源限制（内存4G）后重启，但是发现实际上并不会触发模型重启，而是在高并发量访问后出现访问延迟剧增的情况（从正常时的2-3s 到2-3分钟，而CPU和内存资源并没有明显变化）。

[2019-12-30 08:49] BrikerMan commented on #319
感觉是内存泄漏，请问是直接使用 Kashgari 提供的服务还是使用 TF-serving?

[2019-12-30 14:40] WEN-MIN opened #320 "序列标注不支持输出概率？"
只看到多分类任务有个 top-k-class 概率输出，序列标注不支持输出概率？

[2019-12-31 02:16] BrikerMan commented on #320
https://kashgari.bmio.net/api/tasks.labeling/#predict_entities

[2019-12-31 02:16] #320 closed

[2019-12-31 03:28] yongzhuo opened #321 "训练分词模型出现问题, crf-loss出现负数"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2019-12-31 12:29] sandeshbhatjr commented on #291
Can I implement this part?

[2020-01-01 10:54] #321 closed

[2020-01-02 01:41] BrikerMan commented on #291
sure thing～

[2020-01-03 09:29] #304 closed

[2020-01-03 18:34] cmeaton opened #322 "plot history? [Question]"
Thank you for the wonderful software, its really great. How do I plot the test/val accuracy and loss history at every step? I know there is functionality with tensorboard, but I want to visualize with matplotlib. With keras, I use this code to visualize:

`def plot_metrics(history):

    # summarize history for accuracy
    plt.plot(history.history['acc'])
    plt.plot(history.history['val_acc'])

[2020-01-05 04:52] BrikerMan commented on #322
Yep, you can. Just do this.

[code]

[2020-01-11 04:42] ztyland opened #323 "[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-01-14 03:42] daizhonghao opened #324 "Different BERTEmbeddding sequentence warning when I load model"
## Environment

- OS [e.g. Mac OS, Linux]:
- Python Version: 3.6

## Embedding sequence length is different when training and loading model

Hi,

First of all, I would like to thank you guys for your amazing job.
So, in my training model, I set BERTEmbedding sequence_length = 128,

embed = BERTEmbedding(BERT_PATH,task =kashgari.CLASSIFICATION,trainable=False,
sequence_length=128)
and my model is
m

[2020-01-14 13:08] siyu828 commented on #319
是直接使用Kashgari 提供的Flask服务

[2020-01-14 14:08] BrikerMan commented on #319
@siyu828 那么可能就会存在这个问题，建议使用 tf-serving 提供服务。

[2020-01-15 04:21] #310 closed

[2020-01-17 07:50] mike-sino commented on #283
只要加载bert就出这个错误，和上边一模一样，请问是什么原因啊，谢谢🙏

[2020-01-17 07:53] mike-sino commented on #268
我也遇到这个问题了，只要加载bert 就出这个问题

[2020-01-18 02:44] thehzzz opened #325 "[Question] 无法按照教程进行文本分类，提示cudnn初始化失败"
## Environment

- OS [e.g. Mac OS, Linux]:ubuntu18.04
- Python Version:python3.6.9
- requirements.txt:  kashgari-tf,tensorflow-gpu==1.14，cuda==10.0，cudnn==7.4.1

[code]

## Question
按照官网教程[NLP - 15 分钟搭建中文文本分类模型](https://eliyar.biz/nlp_chinese_text_classification_in_15mins/)
我尝试了cuda==10.1，cudnn==7.6.2以及最后的cuda==10.0，cudnn==7.4.1，cudnn也不能初始化。

Traceback (most recent call last):
  File "<stdin>", li

[2020-01-18 03:15] BrikerMan commented on #325
麻烦试试能不能在 colab 重现这个问题~

[2020-01-18 13:43] thehzzz commented on #325
是cuda 和cudnn 版本问题，已经解决

[2020-01-18 13:43] #325 closed

[2020-01-20 06:41] cronousbaby commented on #316
thanks !! this update is very great!

[2020-01-20 06:49] BrikerMan commented on #316
Working on it~

[2020-01-21 13:34] cronousbaby opened #326 "bert4keras and albert model version"
hi,  i testing bert_embedding_v2.  but UnboundLocalError: local variable 'block_weight_names' referenced before assignment
bert4keras and albert model version?

[2020-01-21 22:12] ChenghaoMou opened #327 "[BUG] model.task vs. model.__task__"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-01-22 08:30] BrikerMan commented on #326
Please provide a sample colab notebook to reproduce this issue, thanks~

[2020-01-22 08:32] BrikerMan commented on #327
Thanks for the report, this bug is confirmed.

[2020-01-23 07:52] mike-sino commented on #283
Uninstalled gast and pip install gast==0.2.2 works for me !

[2020-01-25 22:53] rhamnett commented on #291
@sandeshbhatjr have you implemented this? If so can you provide a pull request?

[2020-01-25 22:53] rhamnett commented on #113
@alexwwang  any update?

[2020-01-30 07:45] houzeyu2683 opened #329 "[BUG] AttributeError: module 'tensorflow' has no attribute 'contrib'"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-02-01 06:33] #322 closed

[2020-02-01 08:39] BrikerMan commented on #329
目前还不支持 tf2.0~

[2020-02-01 08:39] #329 closed

[2020-02-07 06:21] #323 closed

[2020-02-10 15:49] #319 closed

[2020-02-11 10:37] #315 closed

[2020-02-13 06:51] mike-sino commented on #218
@BrikerMan
It seems that multi-GPUs still not work.
Has the problem already been sloved?

[2020-02-14 06:29] tengteng-Lin commented on #225
请问解决了吗？我也有相同的问题

[2020-02-14 06:55] tengteng-Lin opened #330 "[Question] 序列标注predict时报错"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-02-16 03:07] yaleimeng commented on #225
@tengteng-Lin 不知道怎么摸索的解决了，我对框架源码做过细微的修改。
你可以试着将测试集数据的前几句预测结果y0 = model.predict(text_x[:5])打印出来看一下。
如果能正常执行评估，应该是可以正常预测每个字的label。

[2020-02-18 09:13] #326 closed

[2020-02-18 09:13] #327 closed

[2020-02-21 19:10] sylvite opened #331 "How to save and load best model? [Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-02-21 21:30] rhamnett commented on #291
@BrikerMan any ideas on this?

[2020-02-24 08:03] yaleimeng opened #332 "[Question] 序列标注任务怎样获取每个字对应某个label的概率"
## Check List

I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
I have read the [documents](https://kashgari.bmio.net)

## Environment

- OS [e.g. Mac OS, Linux]: Ubuntu 18.04
- Python Version: 3.6
- requirements.txt:

## Question

我在实体识别任务中使用了BERT接BiLSTM+CRF的方案，但模型简单低predict只能预测出每个字对应的概率最大的标签。
我想获取每个字对应各

[2020-02-24 10:51] BrikerMan commented on #332
这个就是浮点结果，可能任务太简单导致很容易有 100 置信度，你可以用测试语料泡个模型看看就知道了~

[2020-02-24 12:10] yaleimeng commented on #332
多谢回复，我后续再用其他语料和模型试试。

[2020-02-24 15:26] wby1999 opened #333 "[BUG]"
cuda版本10.1，设置kashgari.config.use_cudnn_cell = True，但在运行时显示无法使用cudnn加速。

[2020-02-24 16:50] sylvite commented on #331
A follow-up question:

I tried to just use the Keras load_model() method to retrieve the best model:

**best_model = load_model('best_model.h5')**

But then when I tried to predict using the best model, it returned an error:

**y_test_predict = best_model.predict(X_test)**

**ValueError: Error when checking input: expected input to have shape (15,) but got array with shape (1,)**

It looks like th

[2020-02-25 03:10] onceGot opened #334 "[Question]sorry to trboule, I am now using keras whose backend is tensorflow 1.4+，which version of kashgari should I install?"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-02-25 13:17] BrikerMan commented on #334
Just install the current version.
[code]

[2020-02-29 07:47] #334 closed

[2020-03-06 08:05] yaleimeng commented on #333
你运行别的tf程序能gpu加速吗？我觉得是不行的。自己检查一下tf的各项环境吧。建议还是cuda10.0

[2020-03-08 08:45] BlackSnow76 opened #335 "AttributeError: 'list' object has no attribute 'argmax' and numpy.AxisError: axis 2 is out of bounds for array of dimension 1"
hello everyone i have a function for predicting keras NMT model and it works fine but its reading the file and then save the prediction to another file
[code]
but when i try to make like user input it gives me 2 bug 2 error which i do not know how to solve it
[code]

first:

During handling of the above exception, another exception occurred:

second

numpy.AxisError: axis 2 is out of bounds for ar

[2020-03-09 06:15] mhcone opened #336 "[Feature request] 能否加入keras train_on_batch的api，大的数据集内存无法完整加载"
https://keras-cn.readthedocs.io/en/latest/models/model/

[2020-03-10 10:31] BrikerMan commented on #336
这一块之前版本没有考虑，正在构思如何实现。
因为实际上我需要调用两次这个 Generator
第一次遍历构建词表和 Label 表，第二次遍历进行训练。虽然训练是用 fit_generator，但是构建词表目前还不是，导致必须全部加载。

[2020-03-11 03:02] mhcone commented on #336
之前的文本语义类模型，过大的文件我们用的是spark mllib来做的word2vec，但这个场景肯定是没法用了；
我的思路是用先用keras fit_generator API 生成word2vec，然后再调用fit_generator去训练；
训练的步骤中间可以多一个word2vec的model产出，查问题的时候也更加友好一些；
参考https://github.com/bojone/tf_word2vec/blob/master/word2vec_keras.py 这个项目。
以上是我的想法，不知道有没有问题，供你参考

[2020-03-12 09:45] #330 closed

[2020-03-13 12:51] vrocker2048 opened #339 "请教关于WordEmbedding的问题"
## Environment

- tf:1.14.0
- Python Version:3.6.5
- requirements.txt:

[code]

## Question
本人小白，在测试WordEmbedding方法的时候，按照文档说明写了下面代码。w2v_path参数是word2cec 300d的bin文件。

[code]

为什么在加载的时候总是报错，错误信息如下

[code]
换了维度更小的词向量，换了不同的机器也还是这个问题
请问这是哪里出错了呢。没有查到相关的资料，恳请大佬解答！万分感谢

[2020-03-13 15:53] #339 closed

[2020-03-14 01:56] BrikerMan commented on #336
在 kashgari2 分支提交了基于 TF2.0 实现，目前只实现了一个分类模型和 W2V embedding，可以测试看看。

[2020-03-14 02:40] BrikerMan opened #340 "V2.0 implementation design"
Hello.

I have started the migration to tf2 for Kashgari V2.0. Here are the vision and roadmap.

## Same Principle

V2.0 will be based on the same vision for V1.0, which is to create a clean and simple NLP framework for Academic users,  NLP beginners, and Senior NLP developers.

- **Human-friendly**. Kashgari's code is straightforward, well documented, and tested, which makes it very easy to under

[2020-03-14 02:41] BrikerMan commented on #239
Migrate discussion to the #340

[2020-03-14 02:41] BrikerMan commented on #239
Migrate discussion to the #340

[2020-03-14 02:41] #239 closed

[2020-03-14 03:13] fxsld commented on #340
I'm willing to take Built-in callback module

[2020-03-16 03:48] lsgrep commented on #340
I can do the Seq2Seq .

[2020-03-16 10:45] AminTaheri23 opened #342 "Typo in GPT2 Embedding Docs"
This said, "Pre-trained BERT embedding" under the GPT class
pls fix. Thanks :)

https://github.com/BrikerMan/Kashgari/blob/a096b38446e655f227965884dfc94adc452a7d29/kashgari/embeddings/gpt_2_embedding.py#L27

[2020-03-16 10:46] BrikerMan commented on #273
@allhelllooz Sorry for the long delay. I have started the tf2 version Kashgari V2, which is very RAM-friendly. I have tested a classification task with a 10G corpus, it cost 1G RAM. Please try it out.

[2020-03-18 04:12] pandababyer opened #343 "[Question] 如何使用tensorflow的动态显存"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-03-19 02:25] #343 closed

[2020-03-24 13:45] natureLanguageQing opened #346 "[BUG] albert small google 版本在文本分类任务中展示出了极低的准确率"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.
![image](https://user-images.githubusercontent.com/37429336/77432125-9e295200-6e18-11ea-9f3b-9f311a

[2020-03-30 05:27] yaleimeng opened #354 "[Question] 使用 bert_embedding_v2时，没法设置Trainable=False"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-03-30 06:34] BrikerMan commented on #346
这个应该和 #354 一个问题，已修复推送到 master 分支，麻烦测试一下。

[code]

[2020-03-30 06:34] BrikerMan commented on #354
已推送到 master 分支，可以安装这个试试
[code]

[2020-03-30 07:58] yaleimeng commented on #354
多谢，问题已解决。

[2020-03-30 07:58] #354 closed

[2020-03-30 11:30] BrikerMan commented on #354
已发布 1.1.4 版本~

[2020-04-01 02:55] natureLanguageQing commented on #346
`import os
import os
import kashgari
from kashgari.embeddings import BERTEmbeddingV2
from kashgari.tokenizer import BertTokenizer
import pandas as pd
import numpy as np
kashgari.config.use_cudnn_cell = True
model_folder = 'electra_tiny'

checkpoint_path = os.path.join('model.ckpt-1000000')
config_path = os.path.join('bert_config_tiny.json')
vocab_path = os.path.join('vocab.txt')

def data_doubles(

[2020-04-01 03:18] #346 closed

[2020-04-01 09:10] #332 closed

[2020-04-05 01:47] TechSang opened #355 "Cannot import name 'get_file' when use kashgari"
When I use kashgari on colab building some NER models, I found this problem recently.
When using ,it reported:
[code]
[code]
It was able to be used it normally a few weeks ago

[2020-04-05 02:07] BrikerMan commented on #355
Checkout the kashgari and tensorflow versions.

[2020-04-05 02:23] TechSang commented on #355
Thank you, I did not notice that colab auto updated the TensorFlow to v2.x.

[2020-04-05 02:23] #355 closed

[2020-04-05 02:52] adlinex commented on #331
model_path = os.path.join('model_saved', 'test_classification_checkpoint')
        checkpoint = callbacks.KashgariModelCheckpoint(model_path,
                                                       verbose=1,
                                                       save_best_only=True,
                                                       save_weights_only=False,

[2020-04-05 14:31] ljwps opened #356 "[Question] Tensor input_2:0, specified in either feed_devices or fetch_devices was not found in the Graph"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-04-08 08:21] morestart opened #357 "使用CNNModel报错"
#45  Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [ ] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Ai

[2020-04-08 13:44] BrikerMan commented on #357
Please checkout the latest document https://kashgari.readthedocs.io/

[2020-04-08 13:44] #357 closed

[2020-04-09 00:40] yaleimeng commented on #357
有些博客是早期写的。接口在版本迭代中发生了变化。确实应该看文档。
目前如果加载训练好的模型来预测，写法是：
loaded_model = kashgari.utils.load_model('saved_classification_model')
loaded_model.predict(test_x[:10])

[2020-04-09 00:46] morestart commented on #357
使用相同代码
[code]
结果却是`['家居', '时尚', '家居', '家居', '家居', '家居', '家居', '家居', '家居', '家居']`
训练时的准确率已经到了99了，这个是因为什么，按照blog中预测这应该是游戏类呀

[2020-04-09 01:34] yaleimeng commented on #357
我提醒你看文档是看加载模型的接口，并不意味着你的代码写的没问题。
案例中可能是你提供的数据形式有问题。分类模型在预测的时候，一句话/段落 是一个单位。例子中predict(x[ :10] 是取测试集（可能有千万条）的前面10条数据进行预测。而你这里只有一个样本。
就这个例子来说，news是一条样本。那么预测代码应写成
print(loaded_model.predict( [x, ]))  # 预测的对象是一组样本，如果只有一个，需要构造一个列表。
当然了，你采用jieba分词切分的粒度是词，用bert模型处理是有些问题的。

[2020-04-09 07:55] yaleimeng opened #358 "[BUG] 使用bert embedding v2训练完，加载模型时报错"
## Check List
- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [x] I have read the [documents](https://kashgari.bmio.net)

## Environment
- OS [e.g. Mac OS, Linux]: Ubuntu 18.04
- Python Version:  3.6.8
- requirements.txt:

## Issue Description
###  先是使用bert embedding v2加载Electra模型训练NER任务。直到保存模型都正

[2020-04-09 08:14] BrikerMan commented on #358
Try this:

[code]

[2020-04-09 08:20] yaleimeng commented on #358
多谢指点，问题解决。

[2020-04-09 08:20] #358 closed

[2020-04-09 16:51] benlihua opened #359 "[Question] learning rate 怎么设置，使用bert embedding时训练，超过一定steps，metrics骤降。"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-04-16 02:56] jianwei-song opened #360 "[Question] ERNIE"
请问怎样在框架中使用ERNIE预训练模?

[2020-04-16 05:45] GaoQ1 commented on #325
能请问下kashgari==1.1.4对应的cuda和cudnn需要什么版本吗？

[2020-04-16 08:16] yaleimeng commented on #325
@GaoQ1  其实搜索一下就能找到。这里 [版本对应关系](https://blog.csdn.net/fengdu78/article/details/104667044) 仅供参考。

[2020-04-17 03:45] tengteng-Lin opened #361 "[Question] BareEmbedding相关"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-04-23 07:37] ancue opened #362 "[Question] 可以提供一下最好表现得参数吗？自己试验相差太远"
自己使用 Bilstm_CRF 得到的F1只有0.81，给出的最好效果是0.94，不指导能不能提供一下参数，谢谢

[2020-04-24 00:23] ysq151944 opened #363 "[bug]tensorflow-serving跑bert错误"
1. 问题：
tensor = [{
   "Input-Token:0": i.tolist(),
   "Input-Segment:0": np.zeros(i.shape).tolist()
} for i in tensor]

这里已经是个list了，r = requests.post("http://localhost:8501/v1/models/bgru:predict", json={"instances": tensor.tolist()})， tensor.tolist()报错了。

2. 尝试
我把.tolist()去掉，还是报错。
请问该如何解决？

[2020-04-24 05:23] yaleimeng commented on #362
模型的表现完全跟语料数据有关。在一个数据集上表现好的参数组合，并不适用于另一个数据集。
你说的是在人民日报语料上做NER吗？请参考：
https://kashgari.readthedocs.io/en/v1.1.4/tutorial/text-labeling.html#performance-report

[2020-04-24 08:09] dongrixinyu opened #364 "试图调整bert模型的精度，以提高计算速度 [Question]"
## Environment

- OS [Linux]:
- Python Version: 3.6
- requirements.txt: None

## Question

- 我试图调整bert模型的精度，以提高计算速度 。从 float32 统一调整至 float16，但是计算速度反而变慢了。一个节点每秒钟计算 28000字降至11000字。
- 请问怎样正确的调整模型精度，提高计算速度。

[2020-04-26 04:07] sceneline opened #366 "文本对输入中输入格式的要求是否正确"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-04-29 03:19] xmy7216 opened #367 "[Question] 请教BiLSTM_CRF_Model的结构设计"
- [Yes] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [Yes] I have read the [documents](https://kashgari.bmio.net)

## Environment
- OS [e.g. Mac OS, Linux]: Linux
- Python Version: python3.6
- requirements.txt:

[code]

## Question
我想请教一下关于BiLSTM_CRF_Model的结构设计，为什么要在BiLSTM后接一个激活函数为tanh的Dense层，然后再接一个

[2020-04-29 10:32] #333 closed

[2020-05-01 09:42] #335 closed

[2020-05-07 10:01] dongrixinyu opened #368 "[BUG] 多标签文本分类报错"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-05-07 11:19] BrikerMan commented on #368
如果去掉 callback 还会报错么？
还要需要提供 kashgari 版本~

[2020-05-08 02:09] dongrixinyu commented on #368
版本
tensorflow==1.14
kashgari==1.1.5。
去掉 callback 之后 ，运行是成功的，但是新的问题来了。

- 这是一个多标签分类任务，类别总共有30个。
- 损失函数选择的是 binary_crossentropy， 如上代码所示。
在我 evaluate 阶段，我打印了其中的 一条数据的值，结果是如下：

[code]
- 其它的样本结果类似。可以看出，它并没有按照多标签分类的方式来计算，它的和还是约等于 1。这是有问题的。它的运行结果还是多分类的 交叉熵的样子。

[2020-05-08 02:22] BrikerMan commented on #368
可以通过 `model.tf_model.to_yaml()` 看看最后一个层的激活函数，应该是 `sigmoid`，看看是不是配置成 `softmax`。

[2020-05-08 02:30] dongrixinyu commented on #368
是的，是 softmax
[code]

[2020-05-08 02:33] BrikerMan commented on #368
那应该确实是 bug，我这边修复一下~

[2020-05-08 02:38] dongrixinyu commented on #368
好像也不是源码的问题

也就是 hyper 那里的默认参数需要匹配一下就可以了。
[code]
[code]

[2020-05-08 03:06] BrikerMan commented on #368
应该在选择 multi-label 时候，默认使用 sigmoid

[2020-05-08 08:49] BrikerMan commented on #368
@dongrixinyu tf2 版本也正在测试多标签分类，可以的话测试一下~

文档连接 https://kashgari.readthedocs.io/en/kashgari2/tutorial/text-classification.html#multi-label-classification

[2020-05-08 09:04] dongrixinyu commented on #368
好的，我目前没有安装 tf2 呢，等我测试了给你说

[2020-05-09 14:00] #342 closed

[2020-05-13 09:10] zacky1230 commented on #325
@BrikerMan Ubuntu 18.04 + Python 3.6.9 + TensorFlow-GPU 1.14.0 + cuda 10.0 + cudnn 7.5.0 运行 报错 Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize，请教您的开发环境

[2020-05-13 09:20] yaleimeng commented on #325
@zacky1230 你可能需要重新安装cudnn。最好是找个网络教程一步步跟着走。这都是环境问题，跟这个GitHub项目没关系。

[2020-05-13 09:40] zacky1230 commented on #325
@yaleimeng 试过不同版本的cudnn。检测都是正常的。

2020-05-13 17:37:38.562719: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-05-13 17:37:38.584761: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcuda.so.1
2020-05-13 17:37:38.692449: I tensorflow/stream_exe

[2020-05-13 12:47] #360 closed

[2020-05-13 12:50] jianwei-song opened #369 "[Question] 如何自定义参数和优化器"
请问一下默认模型使用的优化器、学习率，dropout是多少呢，如果想在自己的小数据集10万字左右上面做实验，在哪里可以调整这三个参数呢

[2020-05-14 01:17] yaleimeng commented on #325
@zacky1230 贴这么多信息也无助于问题解决。别人没遇到过，当然就没法帮你。
提示cudnn无法初始化，不一定真的是cudnn的问题，也可以是它依赖的东西有问题。
但是这都是环境配置问题，跟这个项目没有什么直接关系。报错也不是这个项目的原因导致的。
虽然我会安装与配置，但没法面对面帮你解决。建议你把所有已经装好的卸载。按照别人的教程，从显卡驱动开始重新安装。确保各环节版本对应正确。环境配置是入门基本功，也许刚入门时碰巧顺利走过，但后面难免还是会栽跟头。早晚都要弄精通的。

[2020-05-14 01:51] BrikerMan commented on #369
- [调整超参数](https://kashgari.readthedocs.io/en/v1.1.5/tutorial/text-classification.html#use-custom-optimizer)
- [修改优化器](https://kashgari.readthedocs.io/en/v1.1.5/tutorial/text-classification.html#use-custom-optimizer)
- [自定义模型](https://kashgari.readthedocs.io/en/v1.1.5/tutorial/text-classification.html#use-custom-optimizer)

[2020-05-14 02:24] zacky1230 commented on #325
@yaleimeng 谢谢您的建议。 这个问题我已经解决了。贴出我解决的方案：

import tensorflow as tf
from keras.backend.tensorflow_backend import set_session
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)

参考（https://medium.com/@JeansPantRushi/fix-for-tensorflow-v2-failed-to-get-convolution-algorithm-b367a088b56e）

[2020-05-14 02:48] xmy7216 opened #370 "[Question] LABELING任务训练时valid loss持续下降，valid acc先上升，但某个epoch后骤降"
## Environment
- OS [e.g. Mac OS, Linux]: Linux
- Python Version: 3.6
- Tensorflow-gpu Version: 1.14

## Question
如题，我在使用人民日报训练LABELING任务模型时，模型的valid loss持续下降，valid acc先升后骤降，test集结果却无异常，不知道哪里出了问题。
代码如下：

    import os
    import kashgari
    from kashgari.corpus import ChineseDailyNerCorpus
    from kashgari.embeddings import BERTEmbedding
    from kashgari.tasks.labeling import BiLSTM_CRF_Model

[2020-05-14 03:22] sly123197811 commented on #304
您好，我又遇到了相同问题，请问还没有作为最终版本修复吗，2020年5月14日11:22:18

[2020-05-14 03:25] sly123197811 commented on #304
您好，我最近clone的kashgari人仍然存在相同的问题，您不是说作为最终版本修复了吗？

[2020-05-14 03:40] BrikerMan commented on #304
@sly123197811 请提供版本号信息和最小复现代码。

[2020-05-14 03:49] sly123197811 commented on #304
Python Version: 3.6
运行环境：tf1.14，kashgari-tf 0.5.5，windows10

复现代码：
modelpath = 'models/'
load_model = kashgari.utils.load_model(modelpath)
sample = list(jieba.cut(testdata))
y = load_model.predict([sample])
print(y[0])

问题跟楼主的一样

[2020-05-14 04:44] BrikerMan commented on #304
执行以下命令更新到最新版本。

[code]

更新日志：https://kashgari.readthedocs.io/about/release-notes.html

[2020-05-14 06:41] xmy7216 commented on #359
我也遇到这个问题了，你找到解决方法了吗？

[2020-05-14 06:46] BrikerMan commented on #359
LR 配置看 https://github.com/BrikerMan/Kashgari/issues/369

[2020-05-14 06:53] hhxx2015 commented on #167
init = tf.global_variables_initializer()
graph = tf.get_default_graph()
# with graph.as_default():
session = tf.Session()
session.run(init)
set_session(session)

def predict_prob(self, corpus):
       x = [tokenize(i) for i in corpus]
       logger.info(x)

       global kmodel
       global graph
       global session
       with graph.as_default():
            set_session(session)
            wi

[2020-05-15 11:44] jianwei-song commented on #369
我今天尝试了一下，可以更改dropout，但是没有看到更改学习率的，请问下面我写的这个是更改dropout的吧？请教一下学习率应该如何更改，在文档里面没有看到示例
hyper = BiLSTM_CRF_Model.get_default_hyper_parameters()
print(hyper)
hyper['layer_blstm']['rate'] = 0.5
model = BiLSTM_CRF_Model(hyper_parameters=hyper)

[2020-05-15 17:14] akablar opened #371 "Unbalanced text classification"
Are there any guidelines or documentation for using this library for unbalanced classification datasets?

[2020-05-16 01:40] BrikerMan commented on #371
Try `class_weight` params of `model.fit` function. Example:

[code]

- details: https://datascience.stackexchange.com/questions/13490/how-to-set-class-weights-for-imbalanced-classes-in-keras

[2020-05-19 08:38] guoweibo opened #372 "[Question] 请问下停用词如何加载，特殊符号是否需要过滤"
请问下停用词如何加载，特殊符号，数字，是否需要过滤？谢谢了

[2020-05-20 04:09] guoweibo commented on #372
我用的是这个demo NLP - 15 分钟搭建中文文本分类模型https://eliyar.biz/nlp_chinese_text_classification_in_15mins/

[2020-05-20 06:59] yaleimeng commented on #372
示例当中没有进行类似的处理。就是直接送进去train一波就完了。

[2020-05-20 08:13] BrikerMan commented on #372
一般情况可以不处理，如果认为不处理会影响效果，那么可以在 fit 之前先处理数据，清理好 samples，然后再 fit。

[2020-05-21 02:44] thatch opened #373 "Missing files in sdist"
It appears that the manifest is missing at least one file necessary to build
from the sdist for version 0.5.5. You're in good company, about 5% of other
projects updated in the last year are also missing files.

[code]

[2020-05-21 03:07] BrikerMan commented on #373
Just try the latest version~

[code]

[2020-05-21 03:48] Ariunbileg0626 commented on #190
model_path = os.path.join("results", parameters.model_name) + ".h5"
model.load_weights(model_path)
Exception has occurred: OSError
Unable to open file (unable to open file:

[2020-05-21 05:19] BrikerMan commented on #373
I am curious about the use-case. Is that ok to share more details with me?

[2020-05-21 05:38] thatch commented on #373
Some companies and distros want to compile everything from source, so pass `--no-binary :all:`, for example https://github.com/dropbox/dbx_build_tools/blob/master/build_tools/py/vpip.py#L311

[2020-05-21 05:43] BrikerMan commented on #373
Thanks for the explanation. Never run into this issue before.

[2020-05-21 05:43] #373 closed

[2020-05-22 02:38] guoweibo opened #375 "如何使用aibert_tiny,文本分类,多谢了"
我是从https://github.com/brightmart/albert_zh
下载的tiny的版本,https://storage.googleapis.com/albert_zh/albert_tiny_489k.zip
,下载的文件都进行修改了,但是依然爆出    'provided weight shape ' + str(w.shape))
ValueError: Layer weight shape (21128, 312) not compatible with provided weight shape (21128, 128)
{
  "attention_probs_dropout_prob": 0.0,
  "directionality": "bidi",
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.0

[2020-05-27 05:58] dongrixinyu commented on #368
@BrikerMan 已测试，成功的。

[2020-05-28 07:48] dongrixinyu commented on #368
又出现一个非常无语的错误，应该是 tensorflow 的问题：

我在自定义模型里加了一句：
[code]

就加上这一句后，模型训练完全正常，但是在模型保存时爆出了：
[code]

去掉这个操作后就没事了。不知道是为什么

[2020-05-28 08:04] dongrixinyu commented on #368
@BrikerMan 我自定义的一个模型，Costume，训练完成，保存起来。然后加载预测，报错：
[code]

如上，可以看出工具包不能找到模型代码的位置

[2020-05-28 08:21] BrikerMan commented on #368
在 load 之前试试 import 这个 Model~

[2020-05-29 06:21] #331 closed

[2020-05-29 15:05] #356 closed

[2020-06-01 06:40] hqsiswiliam opened #376 "[Question] How to correctly use embed and embed_one method?"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-06-01 06:58] hqsiswiliam commented on #376
Here is my code for embedding, correct my if I am wrong.
[code]

[2020-06-01 07:04] BrikerMan commented on #376
You need to tokenize the plan text, then call the embed function. Like this,

[code]

[2020-06-01 07:11] hqsiswiliam commented on #376
Hi, thanks for your reply. By the way, one thing I am not so sure is about the tokenizer. Do I need to use the plain tokenizer like the one provided by `nltk` or a sentence piece model trained by myself?

[2020-06-01 07:26] BrikerMan commented on #376
When you are using pre-trained models like GPT-2, you need to use some tokenizer which they used for GPT-2. Otherwise, you will have lots of 'UNK' tokens, and it will lost lots of contexts.

[2020-06-01 07:28] hqsiswiliam commented on #376
Alright, I got it. Where I can find the tokenizer for GPT-2 in your project, so I can use it to tokenize my text?

[2020-06-01 07:58] hqsiswiliam commented on #376
Hey, I just found a tokenizer from `keras_gpt_2` that is the one of dependencies this repo owns. The `keras_gpt_2` has a function called `get_bpe_from_files`, which I think should be the proper tokenizer for pre-trained GPT-2?

[2020-06-01 08:00] shaojiangnie commented on #339
我也有相同的问题，请问最后怎么解决的？

[2020-06-01 08:19] ybdesire opened #377 "[Question] how can we do NER for English text ?"
Is there any example for English text NER ?

[2020-06-01 08:22] sly123197811 opened #378 "多标签分类，在测试集准确率为0，训练过程中，在验证集上准确率很快就到90以上[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Environment

- OS [e.g. Mac OS, Linux]: windows
- Python Version:  Python3.6
- Kashgari Version: 1.1.5

## Question
在进行多标签分类时，训练过程中，在验证集上准确率很快就到90以上，但是最终在测试集上测试时，准确率为0，详细信息如下：
  ###数据格式
x[0]: ['四', '会', '消防', '制作', '大型',

[2020-06-01 14:41] BrikerMan commented on #377
You need to take care of the tokenization part. So using kashgari with any language does not need any additional process, just use it like the Chinese NER task.

[2020-06-01 14:42] BrikerMan commented on #375
可以提供示例代码，版本号等信息么？
请按照模板提 issue。

[2020-06-01 14:42] #372 closed

[2020-06-01 14:42] #371 closed

[2020-06-01 14:44] BrikerMan commented on #361
就是一个随机初始化的 tf.keras.layer.Embedding 层。

[2020-06-01 14:44] #361 closed

[2020-06-01 14:45] BrikerMan commented on #369
- [修改优化器](https://kashgari.readthedocs.io/en/v1.1.5/tutorial/text-classification.html#use-custom-optimizer)

[2020-06-01 14:45] #369 closed

[2020-06-01 14:48] BrikerMan commented on #366
BERT 训练过程中是有加了 CLS 和 SEP Token，对于分类任务，加不加意义不大。但是对于序列标注，序列生成任务最好需要加上。Kashgari V1 中我记得 embedding 会自动添加。

其实这个也是个比较矛盾的点，我也没想好到底是 Kashgari 内部处理的帮大家加上去还是用户自己处理。目前是框架有处理。

[2020-06-02 03:32] ybdesire commented on #377
@BrikerMan Got it. Thanks

[2020-06-02 03:32] #377 closed, assigned to BrikerMan

[2020-06-02 03:36] ybdesire opened #380 "[Question] Is any way to train NER model by train_x as word vectors?"
Currently train_x is word list, such as `train_x=['未', '名', '湖']`
I must translate the words to vectors, such as `train_xv=[[1,2,3], [2,1,3], [1,2,1]]` in specific way.
How to train the NER model here by my `train_xv` ?

[2020-06-02 06:46] sly123197811 commented on #368
您好，我最近在做多标签分类时，训练时准确率很快到达90以上，loss也很小，但是测试时，准确率都为0，请问可能是哪里出了问题，请指教，我在另一个帖子里面详细说明了，希望您指点一下，谢谢

[2020-06-03 07:07] ybdesire commented on #380
@BrikerMan Would you share some suggetions for this question ?

[2020-06-03 11:01] BrikerMan commented on #380
Just do this. But you cannot use it with the BERT Embedding.
[code]

[2020-06-04 01:57] ybdesire commented on #380
Thanks @BrikerMan for the update.

My question is, if I provide the word embedding , such as

[code]

Then how can I train the BiLSTM_Model by above `train_xv ` and `train_yv` as model input?

[2020-06-04 06:54] guoweibo opened #381 "[Question] 如何使用预训练albert_tiny模型"
##Environment

- OS [e.g. Mac OS, Linux]: windows
- Python Version:3.6
- requirements.txt:1.14

## Question
我使用的看到[https://github.com/brightmart/albert_zh](https://github.com/brightmart/albert_zh)预训练模型,下载其中的tiny版本,[下载](https://storage.googleapis.com/albert_zh/albert_tiny_489k.zip),能返回文本分类后权重吗?
比如说这段话返回的是体育类型,同时返回在体育类型里面的相似值 ['体育',0.95]这种
这是我用bertApi加载的代码
# 初始化 BERT embedding
from kashgari.embeddin

[2020-06-05 06:38] mingwei-liu opened #382 "[Question] 目前的模型训练会自动使用GPU吗"
## Question

目前训练的模型比如BERT+LSTM-CRF，会自动使用GPU吗，不是的话会如何配置呢？

[2020-06-05 14:05] stephen-nju commented on #99
请问下主要是什么原因

[2020-06-07 04:11] BrikerMan commented on #382
安装好 Cuda, TF-GPU 就可以直接使用 GPU。

[2020-06-07 04:11] #382 closed, assigned to BrikerMan

[2020-06-08 06:29] shjliqian opened #383 "文本分类任务，在子进程中运行预测，发生阻塞"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-06-09 07:26] dongrixinyu commented on #358
@BrikerMan 大佬您好
我也遇到了相同的问题：添加自定义层后，无法加载模型。而且，添加上述三行代码后仍无法解决，依然报错。

自定义层结构：
[code]
报错信息：
[code]
其中，keras 版本均为 2.2.4-1

[2020-06-09 07:42] ybdesire commented on #380
@BrikerMan Would you share more suggetions for this question?

[2020-06-09 07:56] BrikerMan commented on #380
You can use custom embedding or WordEmbedding to load your embedding file, then train the model.

[2020-06-09 08:54] ybdesire commented on #380
@BrikerMan Great. Is any example for reference?

[2020-06-09 09:38] ybdesire commented on #380
@BrikerMan I would appreciate if you could share some examples or related code .

[2020-06-10 09:10] #364 closed

[2020-06-10 09:10] #363 closed

[2020-06-11 05:51] Igoslow opened #385 "[Question] 使用GPU进行文本分类模型训练，CPU设备上使用模型可以么？"
使用kashgari有这个警告，担心CPU机器上不能用该模型
WARNING:root:CUDA GPU available, you can set `kashgari.config.use_cudnn_cell = True` to use CuDNNCell. This will speed up the training, but will make model incompatible with CPU device.

[2020-06-11 05:55] BrikerMan commented on #385
可能警告不清楚，意思是如果使用 cudnn_LSTM/cudnn_GRU 进行训练，将不支持 CPU 推理。
cudnn 会加快 GPU 训练，但是不支持 CPU 推理。默认不开启，可以 GPU 训练，CPU 推理。

[2020-06-11 05:55] #385 closed, assigned to BrikerMan

[2020-06-11 06:03] vrocker2048 commented on #339
emmm...
我最后是直接减少word2vec或者glove的词表大小

[2020-06-14 12:12] Igoslow commented on #385
那请问怎样支持CPU推理呢？

[2020-06-14 12:13] Igoslow commented on #385
谢谢您了解了

[2020-06-16 14:11] BrikerMan opened #386 "[Document] Update Bert-Embeddings document"
Bert-Embedings's document outdated, need to update according to Kashgari-v2 API.

[2020-06-16 14:15] BrikerMan opened #387 "[API] Remove sequence_length from Embedding's __init__ function."
There is no need to add `sequence_length` to embeddings since the embed logic changed. We need to remove this param from API and documents.

- [x] remove `sequence_length` from embedding's API.
- [x] remove `sequence_length` from test-case.
- [x] update `sequence_length` related documents.

[2020-06-16 14:17] BrikerMan opened #388 "[Document] Add Transformer Embedding's Document."
Add Transformer embedding document to docs.

[2020-06-16 14:37] BrikerMan opened #389 "[Document] Add FAQ Section to the document."
- [ ] how to use GPU/CPU.
- [ ] can I load Kashgari 1.x model into kashgari 2.x - NO.

[2020-06-16 15:50] #387 closed, assigned to BrikerMan

[2020-06-17 03:04] BrikerMan commented on #388
Done~

[2020-06-17 03:04] #388 closed, assigned to BrikerMan

[2020-06-17 03:05] BrikerMan commented on #386
Done

[2020-06-17 03:05] #386 closed, assigned to BrikerMan

[2020-06-17 05:51] BrikerMan opened #390 "[Document] Update classification task document to v2 style"
Update classification task document to v2 style and convert to rst format.

[2020-06-17 05:52] BrikerMan opened #391 "[Document] Update labeling task document to v2 style"
Update labeling task document to v2 style and change file to rst format.

[2020-06-17 05:53] BrikerMan opened #392 "[Document] add details to Seq2Seq task document"
Add details to the Seq2Seq task document and convert it to rst format.

[2020-06-18 09:07] BrikerMan commented on #383
没有明白，深度模型本来就不关心异步的事情，这个需要你自己处理。

[2020-06-18 09:08] BrikerMan commented on #381
试试使用 [Transformer Embedding](https://kashgari.readthedocs.io/en/v1.1.5/embeddings/bert-embedding_v2.html) 加载

[2020-06-19 08:05] ybdesire opened #393 "Why English NER no output ?"
Below is my test code for English NER.

The code can run correctly without any error. But it costed 2 hours and still not exit.

[code]

I can get output as blow when code running...

[code]

Is there any mistake with my code ?

[2020-06-19 08:21] ybdesire opened #394 "[BUG] AttributeError: module 'kashgari' has no attribute 'LABELING'"
code referenced from

https://eliyar.biz/nlp_chinese_bert_ner/

get error for code part

[code]

error output

[code]

lib versions

[code]

[2020-06-19 08:30] BrikerMan commented on #394
https://eliyar.biz/nlp_chinese_bert_ner/ is for the Kashgari 1.x version.
2.0.0 Version is still in the alpha phase, might have bugs.

[2020-06-19 08:31] BrikerMan commented on #393
Nope, this must be a bug of 2.x version. Please try the stable version (1.x).

[2020-06-19 08:55] ybdesire commented on #394
Got. Thanks @BrikerMan

[2020-06-19 08:55] #394 closed, assigned to BrikerMan

[2020-06-19 08:56] ybdesire commented on #393
Got. Thanks @BrikerMan

[2020-06-19 08:57] BrikerMan commented on #393
Need to fix this before release the 2.0.0 version.

[2020-06-19 08:57] #393 closed, assigned to BrikerMan

[2020-06-24 09:45] #370 closed

[2020-06-24 09:45] #359 closed

[2020-06-27 09:46] rockman1989 opened #395 "How about add relation extraction function?"
NER function is very easy to use, so how to use this to extract relations in NLP problem,It's good to have a tutorial for beginners

[2020-06-30 08:08] fancyfreeman opened #396 "在NER识别问题中，BERT+BI-LSTM+CRF的预测输出结果里会出现单独的I-ORG标签，前面没有B-ORG便签"
咨询个问题：在NER识别问题中，BERT+BI-LSTM+CRF的预测输出结果里会出现单独的I-ORG标签，前面没有B-ORG便签。
比如:'O','O','O','I-ORG','O'  这里'I-ORG'是明显不正确的。
请问这是模型问题吗？还是模型的预测结果本来就会有这种结果，需要手工对预测的结果中的这些明显不对的标签进行清洗？

[2020-06-30 08:16] BrikerMan commented on #396
请按照 Issue 模板提供版本号，核心代码等信息。

[2020-06-30 09:34] fancyfreeman commented on #396
## Environment
- Mac OS,
- Python Version: 3.6

版本：
Kashgari 1.1.5
TensorFlow 1.15

关键代码：
from kashgari.corpus import ChineseDailyNerCorpus
import data_utils as du
from kashgari.embeddings import BERTEmbedding
from kashgari.tasks.labeling import BiLSTM_CRF_Model, BiLSTM_Model
from kashgari.utils import load_model
import kashgari

# 导入数据
train_x, train_y = ChineseDailyNerCorpus.load_data('train')
v

[2020-06-30 09:36] fancyfreeman commented on #396
## Environment
- Mac OS,
- Python Version: 3.6

版本：
Kashgari 1.1.5
TensorFlow 1.15

关键代码：
from kashgari.corpus import ChineseDailyNerCorpus
import data_utils as du
from kashgari.embeddings import BERTEmbedding
from kashgari.tasks.labeling import BiLSTM_CRF_Model, BiLSTM_Model
from kashgari.utils import load_model
import kashgari

# 导入数据
train_x, train_y = ChineseDailyNerCorpus.load_data('train')
v

[2020-06-30 11:52] BrikerMan commented on #396
请问是只训练了一个 epoch 么？

[2020-06-30 16:37] fancyfreeman commented on #396
是的，为了初步验证一下，只训练一个epoch，和这个有关吗？

[2020-07-04 01:25] JoeshpCheung opened #397 "请问kashgari-bert+bilstm+crf做命名实体识别在cpu上跑的时候发生的占满全部cpu(90%使用率)问题如何解决？能否限定只使用某几块CPU？[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-07-06 02:54] BrikerMan commented on #397
没太明白，是做批量与测试后占用全部 CPU 还是做训练时候？这个是 TensorFlow 的特性，可以查询一下 TensorFlow 如何指定只是用几个 CPU 核心~

[2020-07-06 04:26] BrikerMan commented on #396
en.... 都没有收敛，肯定会各种错误的输出....

[2020-07-09 01:54] luozhouyang commented on #336
推荐使用`tf.data` API构建数据输入管道，强大且方便。

[2020-07-09 02:05] luozhouyang opened #398 "[Feature request] 使用 tf.data API 重构数据输入管道"
**Is your feature request related to a problem? Please describe.**
就如 #336 所描述的，训练数据很大内存无法加载所有训练数据的情况在实际应用中很常见，`generator`的方式其实也不是很灵活，例如在整个数据集上做`shuffle`

**Describe the solution you'd like**
使用`tf.data`API构建强大的高性能的数据输入管道

**Describe alternatives you've considered**

**Additional context**

[2020-07-09 02:09] luozhouyang commented on #398
如果有需要，我可以提供一个pull request。不过这个部分重构改动比较大，需要讨论一下代码结构组织等等。

[2020-07-09 02:13] BrikerMan commented on #398
目前 v2 分支已经通过 generator 实现了超大数据的加载和 shuffle. 不直接使用 tf.data 是因为发现 tf.data 和 processor 结合使用比较麻烦。可以参考一下

https://github.com/BrikerMan/Kashgari/blob/67de4f91e5899fd6be21e95742dd1e3fcc89bd1e/kashgari/generators.py#L33

当然如果有更好的解决办法可以讨论看看的~

[2020-07-09 02:16] BrikerMan commented on #398
按照 Kashgari 理念，需要支持用户直接输入分词后的句子即可，后续构建词表 和 padding 等操作都需要内置实现。tf.data 对于不定长文本数据支持还是不够好，文档也不全。

[2020-07-09 02:36] luozhouyang commented on #398
能具体说一说吗？因我个人使用`tf.data`构建Seq2Seq模型的输入都OK的啊。`tf.data`可以按照batch最长序列进行padding，也可以按照指定最大长度进行padding，也可以按照数据长度进行分桶，减少计算量。同时也可以对数据进行各种转换。

另外，我个人感觉把词典构建和数据输入管道构建过程解耦开来会比较好。词典可以使用单独的一个工具来生成，然后Tokenizer负责加载词典进行分词、ID转化，数据输入管道利用Tokenizer，可以让用户直接提供原始文本，即可构建完整的训练输入管道。

[2020-07-09 02:44] BrikerMan commented on #398
解耦是可以的，但是解耦让用户自己处理了，那么市面上这种工具很多，Kashgari 的定位和存在就没有太多必要了。这个也是我一直坚持让用户能够使用文本数据直接 fit 的原因。

可以看看你的 seq2seq tf.data 构建代码么？

[2020-07-09 02:54] luozhouyang commented on #398
[TransformerTextFileDatasetBuilder](https://github.com/luozhouyang/transformers-keras/blob/fda24dd8fd260c3d807a5d49cf1720031df6ab8a/transformers_keras/datasets/transformer_dataset_builder.py#L114)

目前上面这个实现没有加入按照长度分桶。

可以在[tensorflow/nmt](https://github.com/tensorflow/nmt/blob/0be864257a76c151eef20ea689755f08bc1faf4e/nmt/utils/iterator_utils.py#L233)找到例子。

[2020-07-09 03:19] BrikerMan commented on #398
如果对 Kashgari 改造，你的思路如何呢？可以讨论看看

[2020-07-11 04:04] luozhouyang commented on #398
我看你的代码已经大致完成了genrator构建输入管道。如果generator能解决上述问题，那就用generator吧。没必要再搞一套tf.data的。如果以后有遇到必须使用tf.data的场景，再来考虑这个事情。

[2020-07-11 04:06] BrikerMan commented on #398
嗯嗯，generator 更加灵活一些，顺便也帮忙多看看 TF2 版本还有没有什么问题~ 欢迎提更多的建议意见~

[2020-07-11 04:12] #398 closed, assigned to BrikerMan

[2020-07-20 10:31] sly123197811 opened #399 "自定义textCNN模型，模型保存时出错[BUG]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-07-21 03:11] allonbrooks opened #400 "如果我要支持alber做基于bilstm+crf模型的ner，怎么改代码呢"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-07-21 03:12] allonbrooks commented on #400
如果我要支持alber做基于bilstm+crf模型的ner，怎么改代码呢

[2020-07-21 03:39] #399 closed, assigned to BrikerMan

[2020-07-21 08:58] BrikerMan commented on #400
使用 [TransformerEmbedding](https://kashgari.readthedocs.io/en/v1.1.5/embeddings/bert-embedding_v2.html) 加载 Albert 模型即可。

[2020-07-22 01:21] drxmy opened #401 "[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-07-22 06:58] BrikerMan commented on #401
你可以参照 BertEmbedding/WordEmbedding 来构建自己的 Embedding 类传进去。

[2020-07-28 12:01] hanxu49 opened #402 "关于model.evaluate()的输出"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-07-28 12:38] #402 closed, assigned to BrikerMan

[2020-07-29 04:00] usmaann commented on #355
Hi I m having same issue

I am using below versions

!pip install kashgari==1.0.0
!pip install tensorflow==1.14

Still getting the same get_file error

pls advise

[2020-07-29 04:01] BrikerMan commented on #355
Update to the 1.1.5 version by `pip install kashgari==1.1.5`.

[2020-07-29 04:10] usmaann commented on #355
Thanks for your quick reply....

I was able to fix it by using tf=1.15.0 and Kashgari 1.1.5 but getting below error

![image](https://user-images.githubusercontent.com/38275359/88756419-f0072d80-d1a6-11ea-948e-05e7fa5cd594.png)

ImportError: cannot import name 'BertEmbedding' from 'kashgari.embeddings' (/opt/conda/lib/python3.7/site-packages/kashgari/embeddings/__init__.py)

[2020-07-29 04:27] usmaann opened #403 "[Question] ImportError: cannot import name 'BertEmbedding' from 'kashgari.embeddings' (/opt/conda/lib/python3.7/site-packages/kashgari/embeddings/__init__.py)"
Hi....I am using Kashgari for transfer learning...BERT with BiGRU but getting below error... Pls advise

![image](https://user-images.githubusercontent.com/38275359/88756681-981cf680-d1a7-11ea-957c-a35db35490ee.png)

[2020-07-29 05:10] BrikerMan commented on #403
If you are using colab, restart colab kernal, then try this.

[code]

[2020-07-29 05:25] usmaann commented on #403
Tried and getting below error

![image](https://user-images.githubusercontent.com/38275359/88760155-c0105800-d1af-11ea-9856-7ce301f08e47.png)

[2020-07-29 05:34] BrikerMan commented on #403
@usmaann Sorry, here is a typo. Fixed.

[2020-07-29 13:59] usmaann opened #404 "[Question] ModuleNotFoundError: No module named 'kashgari.embeddings.bert_embedding_v2'"
Getting below error Please advise...

Using >>kashgari-2.0.0a1 and TF > 2.2.0

Following this tutorial>>>>https://kashgari.readthedocs.io/en/v1.1.1/embeddings/bert-embedding_v2.html

![image](https://user-images.githubusercontent.com/38275359/88809318-5320b080-d1f7-11ea-9e46-b49bab673c20.png)

[2020-07-30 01:36] BrikerMan commented on #404
There is some API diff between 1.x and 2.x. Please read the version-specific docs from https://kashgari.readthedocs.io/en/latest/.

You can change the version by clinking the latest button.

<img width="434" alt="LWScreenShot 2020-07-30 at 上午9 35 04" src="https://user-images.githubusercontent.com/9368907/88870515-23e65f80-d248-11ea-9870-49c28d34c1a8.png">

[2020-07-30 13:45] bclee232 commented on #355
Try BERTEmbedding instead of BertEmbedding

[2020-08-04 04:46] Jiannan28 opened #405 "英文预测结果问题"
做英语的多class预测（根据这篇文章https://medium.com/@BrikerMan/multi-class-text-classification-with-kashgari-in-15mins-c3e744ce971d), new_model.predict(x)预测的时候会根据每个词预测出一个结果，而不是根据整个句子。是否需要把整个句子不分词，然后放到一个list里边做预测呢？

Mac OS
Python 3.7

[2020-08-04 05:30] BrikerMan commented on #405
这里可能有误，model.predict(x) 这里的 x 是一组样本，也就是 n 个被分词过的句子。当只有一个句子的时候，输入应该是 model.predict([sentence])

[2020-08-05 16:41] Jiannan28 commented on #405
多谢！

[2020-08-05 16:41] #405 closed, assigned to BrikerMan

[2020-08-14 17:38] #375 closed, assigned to BrikerMan

[2020-08-14 17:38] #366 closed

[2020-08-14 17:38] #378 closed, assigned to BrikerMan

[2020-08-14 17:38] #376 closed, assigned to BrikerMan

[2020-08-15 10:29] #368 closed

[2020-08-20 07:44] Jefffish09 commented on #355
Hi @BrikerMan ,
I also get the error "ImportError: cannot import name 'get_file' from 'tensorflow.python.keras.utils'"
![image](https://user-images.githubusercontent.com/44800122/90731258-0e6ecd80-e2fc-11ea-8c7a-cb1ea2e06ce0.png)

My environment:
tensorflow == 2.3.0
keras == 2.4.3
kashgari == 1.15

How to solve?

[2020-08-20 08:17] Jefffish09 commented on #394
Hi @BrikerMan ,
Have you fixed this bug? I also met this error using Kashgari 2.X

[2020-08-21 04:24] BrikerMan commented on #355
You need to install kashgari 2.x for tf 2.x. Or install Kashgari 1.x with tf 1.12+.

[2020-08-21 04:26] BrikerMan commented on #394
There are API breaks on TF2 version. Please checkout the 2.x docs when using 2.x version.
https://kashgari.readthedocs.io/en/v2-trunk/

[2020-08-22 18:09] #380 closed, assigned to BrikerMan

[2020-08-26 07:17] Jefffish09 commented on #393
Hi @BrikerMan ,

我也遇到了类似情况，Kashgari版本：2.0.0a1，处理英语的ner任务，不管是BiLSTM_Model还是CNN_LSTM_Model都停在第一个epoch，等了12个小时还是一动不动，如下图：
![image](https://user-images.githubusercontent.com/44800122/91272981-27212c80-e7af-11ea-93d6-de40200ffde0.png)

[2020-08-26 08:31] Junphy-Jan opened #406 "[Question] 如何修改加载的Bert模型到自定义模型的输出"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-08-26 08:47] BrikerMan commented on #393
@Jefffish09 可以提供一个 colab demo 么？我排查一下

[2020-08-26 08:51] BrikerMan commented on #406
input：['我', '是','中','国','人']
预处理模块输入 ['我', '是','中','国','人'] 输出 [1, 2, 3, 4, 5]，也就是预处理时候完成映射到 id。
Bert 输入映射后的 id [1, 2, 3, 4, 5] 输出 对应的 Bert 张量
BiLSTM_CRF 层输入 bert 的结果，输出具体的 NER 结果。

其中 BERT 和 BiLSTM_CRF 我这里将会拼接成一个模型。

如果你想对于 BERT 输出结果进行特殊的处理，可以自己 subclass 一个 BiLSTM_CRF_Model 模型，修改 build_model 函数，在 bert 之后，blstm 之前增加你自己的特定层即可。

[2020-08-26 09:05] Junphy-Jan commented on #406
多谢！
我安装的是
"kashgari>=1.1,<2.0"   "tensorflow>=1.14,<2.0"
您是指修改这个 build_model_arc这个函数么。
这个embed_model.output 就是Bert输出的句向量。我可以修改这个向量是这意思吗
![image](https://user-images.githubusercontent.com/14165820/91284093-0a402580-e7be-11ea-95e3-bc75dba4cdfc.png)

[2020-08-26 09:14] BrikerMan commented on #406
对的，是这里。此处的 embed_model.output 是值得 embedding 模型的输出。如果你用了 Bert 则就是 Bert 的输出。

[2020-08-26 09:16] Junphy-Jan commented on #406
好的 多谢！ 我试试

[2020-08-26 09:53] BrikerMan commented on #393
对了，可以尝试一下直接安装 github 上的版本试试看

[code]

[2020-08-26 09:53] Junphy-Jan commented on #406
不好意思再请教一下，我可以在训练的过程中看到这个 embed_model.output的具体值么。我想打个断点但是找不到位置。
还是有什么其他的办法吗

[2020-08-26 09:55] BrikerMan commented on #406
可以尝试通过 print 语句来看具体的值和 shape

[2020-08-26 10:04] Junphy-Jan commented on #406
我理解这个build_model_arc 函数不是只在build模型的时候调用一次么。 通过print只能打印出 output的shape。
好像看不到每个batch喂入数据之后的实际值吧

[2020-08-26 10:10] BrikerMan commented on #406
嗯，是的，这个只是构建的时候调用。你完全可以直接通过调用 embedding.embed(x_samples) 来获取具体的输出。这个就是 embedding 的结果。

[2020-08-26 11:16] Junphy-Jan commented on #406
好的，还注意到一个不知道是什么原因，在设置了 batch_size = 64 的情况下，控制台打印的好像不太对：
![image](https://user-images.githubusercontent.com/14165820/91297235-880d2c80-e7d0-11ea-9498-585c5681b4eb.png)
在 callback里看到的是64，但是只显示了60

[2020-08-26 11:38] BrikerMan commented on #406
显示的是 step 数量，也就是 sample_count // 64 = 60

[2020-08-26 11:43] Jefffish09 commented on #393
好的，我先试一下，谢谢！
PS:补充一点，后面我换到kashgari 1.x版进行尝试，数据处理、模型参数都没改变，发现一切很顺利地训练出model。估计是2.x版的bug可能性比较大。

[2020-08-26 12:21] BrikerMan commented on #393
@Jefffish09 Kashgari 2.x 还在处于测试阶段，所以可能还是有些 bug。

[2020-08-27 02:37] Junphy-Jan commented on #406
好的，请问下 1.1.5版本是不支持多标签分类吗？
在文档中有：`model = BiLSTM_Model(bert_embed, sequence_length=100, multi_label=True)`
我用的是1.1.5版本的，好像不支持这个multi_label参数。

[2020-08-28 07:30] #406 closed, assigned to BrikerMan

[2020-08-30 07:21] #390 closed, assigned to nobody

[2020-08-30 07:21] #391 closed, assigned to nobody

[2020-08-30 07:21] #392 closed, assigned to nobody

[2020-08-31 11:01] #383 closed, assigned to BrikerMan

[2020-08-31 11:01] #381 closed, assigned to BrikerMan

[2020-08-31 17:01] #389 closed, assigned to nobody

[2020-09-01 16:38] OmarMohammed88 opened #407 "[BUG] ['PAD']"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-09-01 16:55] Alymostafa commented on #407
I Meet the same issue using ```bert_embed = BertEmbedding('/content/uncased_L-12_H-768_A-12')``` and pretrained model
```BiGRU_Model()```

[2020-09-01 17:54] OmarMohammed88 commented on #407
I figured it out
[code]
it solves my problem

[2020-09-01 17:54] #407 closed, assigned to BrikerMan

[2020-09-02 08:32] Igoslow opened #410 "[Question] 请问下能给下kashgari输入向量的格式和标签的数据格式么？或者能不能给一些参考文档"
我想做文本分类，但是词转为向量，我不想使用kashgari或者bert语言嵌入的代码。我想直接输入向量。我看了您的代码输入向量的数据格式大概是元组下的二维numpy数组，但是输入数据会报错，请问下应该怎么处理呢？

[2020-09-02 21:01] #395 closed, assigned to BrikerMan

[2020-09-03 02:22] Jefffish09 opened #411 "[Question] how to k-fold evaluation with kashgari"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-09-03 02:40] Igoslow opened #412 "[Question] could you ask me that how to design own Embedding? Is there any document?"

[2020-09-03 11:30] BrikerMan commented on #411
You need to implement it by yourself, remember to check the `report` object to get the right metric you need.

Example:

[code]

[2020-09-03 11:32] BrikerMan commented on #410
你可以先把你的向量保存成 w2v 形式，然后使用 WordEmbedding 去加载。
这里有例子：https://www.kaggle.com/matsuik/convert-embedding-dictionary-to-gensim-w2v-format

只要你最终的 w2v 能够被 gensim 读取即可。

[2020-09-03 15:50] #404 closed, assigned to BrikerMan

[2020-09-03 15:51] #403 closed, assigned to BrikerMan

[2020-09-03 15:51] #397 closed, assigned to BrikerMan

[2020-09-04 03:11] Jefffish09 commented on #411
Perfect! Thanks!

[2020-09-04 03:11] #411 closed, assigned to BrikerMan

[2020-09-08 03:22] caizp91 opened #414 "[Question] How to use custom loss function"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-09-08 06:52] BrikerMan commented on #414
Yes, just via 2 simple steps.

1. After init model, call the `build_model` function with corpus to prepare token dict, label dict, and model structure.
2. Then call the `compile_model` with custom loss, metric, and optimizer (or just one of them).

[code]

[2020-09-10 09:44] #340 closed

[2020-09-10 09:45] #414 closed, assigned to BrikerMan

[2020-09-14 13:00] Syauri opened #417 "How do I add additional features with BERT?[Question]"
I want to use a pertained model with additional features for NER task. Lets say I have a sequence of pos tags I want to send in as feature to make prediction.

[2020-09-15 00:27] BrikerMan commented on #417
In Kashgari V1, we have a feature called stacked embedding and numeric embedding. Please try it out. This is not implemented on Kashgari V2 yet.
https://kashgari.readthedocs.io/en/v1.1.5/advance-use/handle-numeric-features.html

[2020-09-15 02:56] Jefffish09 commented on #393
Hi @BrikerMan ,

我看到2.0发布了正式版，再用上面例子试了一下，还是一直卡住很久（大概15分钟，1.x版也不需要这么长时间），没有结果，也没有报错。

其中bert embedding用的是wwm_cased_L-24_H-1024_A-16，可以在colab复现：

[code]
[code]
![image](https://user-images.githubusercontent.com/44800122/93160034-1591cb80-f742-11ea-9f27-9e9dae5399bb.png)

[2020-09-15 03:17] BrikerMan commented on #393
@Jefffish09 定位到问题了，当 x, y 样本数量小于 batch_size 的话，generator 会出现无限循环，导致这个问题。下面的代码就可以正常执行，不过正式训练应该不会出现这个问题吧？我更新一个小版本解决一下这个问题。

[code]

[2020-09-15 03:38] Jefffish09 commented on #393
原来如此，但我有另一批数据，在1.x版跑得很正常，换成2.x版也是卡住，数据量不算太小，哪怕把batch_size设成8，也一样卡住，不过因为数据隐私问题，不太方便分享出来。

[2020-09-15 03:40] BrikerMan commented on #393
不需要分享具体的数据，直接用随机字符串构建成和你的数据一样数量的样本，然后测试看看。目测可能在某些情况下出现了无限循环。

[2020-09-15 04:40] Jefffish09 commented on #393
嗯嗯，等下一版看看~

[2020-09-15 04:43] BrikerMan commented on #393
可以帮我看看出现这个问题的 sample 数量和 batchsize，目前我只解决了 sample < batch_size 的情况~

[2020-09-15 13:14] Syauri commented on #417
Thanks!

[2020-09-15 13:14] #417 closed, assigned to BrikerMan

[2020-09-16 06:07] #396 closed, assigned to BrikerMan

[2020-09-16 06:07] #400 closed, assigned to BrikerMan

[2020-09-16 06:07] #401 closed, assigned to BrikerMan

[2020-09-16 09:11] yuzuhikorunrun opened #418 "[Question] unable to install and command mysteriously alters my env"
## Environment

- OS : windows
- Python Version: 3.6
- tensorflow version: CPU, version 1.5
- pip : updated to latest
- numpy: 1.16
- requirements.txt:

[code]

## Question

hi there, I am unable to install kashgari. my env is as listed above, and I am using anaconda. whenever i run this command: `pip install kashgari>=1.0.0,<2.0.0`, the following msg pops out:

PLUS, such command automatically al

[2020-09-16 13:38] BrikerMan commented on #418
You need to install kashgari 2+ for tensorflow 2.

| Backend          | pypi version                           | desc                  |
| ---------------- | -------------------------------------- | --------------------- |
| TensorFlow 2.1+  | `pip install 'kashgari>=2.0.0'`        | TF2.10+ with tf.keras |
| TensorFlow 1.14+ | `pip install 'kashgari>=1.0.0,<2.0.0'` | TF1.14+ with tf.keras |

[2020-09-17 00:19] Syauri opened #419 "How should I format the dataset to pass the document or sentence information?"
I see that the corpus is represented as array of array of strings. How are document information passed in the corpus? Say X_train= [[],[],[],], is one document equal to X_train[0]? If yes, then how are sentence information passed?

[2020-09-17 01:19] yuzuhikorunrun commented on #418
@BrikerMan Hello, thanks for your reply but I am using tensorflow 1.5 version, why do I need to install kashgari 2+ for tensorflow 2?

[2020-09-17 08:48] BrikerMan commented on #418
Tensorflow 2 broked many APIs, So we had to have 2 different versions....

[2020-09-18 02:10] yuzuhikorunrun commented on #418
I'm sorry, I'm confused. I do not have tensorflow 2, I have tensorflow 1.5. and plus, I've tried `pip install 'kashgari>=2.0.0'`, it still does not work.

[2020-09-18 03:54] BrikerMan commented on #418
TF1.5 is not supported by kashgari. The minimal requirements are TF 1.13.
If you use TF 1.13 to TF 1.15, you can install kashgari by `pip install 'kashgari>=1.0.0,<2.0.0'`

[2020-09-20 05:57] BrikerMan commented on #419
Sample for classification

[code]

Sample for labeling

[code]

[2020-09-20 05:59] BrikerMan commented on #393
可以通过 `pip install git+https://github.com/BrikerMan/Kashgari.git@v2-dev` 试试。

[2020-09-20 11:08] Jefffish09 commented on #393
好的，下次尝试一下，感谢！

[2020-10-15 17:18] Alymostafa opened #421 "[Question] How to access the embeddings? of my dataset that model have been trained on it ?"
## Environment

- OS [Ubuntu-18.04-bionic]:
- Python Version: 3.6

## Question
How to access the embedding of my dataset that the model has been trained on it?

[2020-10-16 03:53] BrikerMan commented on #421
I didn't understand the question, maybe you can provide more information.

[2020-10-21 07:03] wxy521131418 opened #423 "kashgari2.0.0 部署版本如何保存模型"
kashgari1.5版本的
kashgari.utils.convert_to_saved_model

但是在 kashgari==2.0.0 版本中没有这个方法
module 'kashgari.utils' has no attribute 'convert_to_saved_model'

[2020-10-22 02:58] Igoslow opened #424 "[Question] 请问下您使用GPU训练可以指定某块GPU么"
## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aiss

[2020-10-22 03:18] Igoslow commented on #410
谢谢您，了解了

[2020-10-22 18:07] Syauri opened #425 "[BUG] AttributeError: 'Tensor' object has no attribute 'sequence_length'"
I am using Kashgari Version: 1.1.4 to add additional features with stacked embedding and numeric embedding with BERT(tf) but I am getting the following error:

[code]

[2020-10-22 21:56] mashagua opened #426 "can i get word embedding from kashgari,like w2v[word] in gensim"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
how t

[2020-10-23 02:02] BrikerMan commented on #425
Please open the Bug issue with the Bug template and fill out all information.

[2020-10-23 02:02] #425 closed, assigned to BrikerMan

[2020-10-23 02:04] BrikerMan commented on #426
Please clear up the issue description....

[2020-10-23 03:15] cdhx opened #427 "[Question] 无法导入"
## Environment

- OS [e.g. Mac OS, Linux]:Window10
- Python Version:3.7

## Question
pip install kashgari后
导入import kashgari报错
Traceback (most recent call last):

  File "C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *

ImportError: DLL load failed while importing _pywrap_tensor

[2020-10-23 03:18] cdhx commented on #427
尝试安装2.0以下版本
```pip install "kashgari>=1.1,<2.0"```
报错
[code]

[2020-10-23 04:27] BrikerMan commented on #427
这个似乎是 tensorflow 的问题....

[code]

[2020-10-23 13:02] cdhx commented on #427
是tf版本问题
tf和kashgari都安装不上
发现是因为这个电脑的版本是py38

[2020-10-23 13:03] #427 closed, assigned to BrikerMan

[2020-10-24 04:05] BrikerMan commented on #423
发现新方案不好用，还是按照以前增加了 `convert_to_saved_model` 方法

[2020-10-25 10:18] Alymostafa commented on #421
OK, i will try to explain it. when I train the model (ex.Bi-LSTM), i give the dataset to the model in characters or words. The model change them to numbers (embeddings), so how can I access these embeddings to do some work with it (ex.visualization)

[2020-10-25 13:39] BrikerMan commented on #421
You can access the embedding via `model. embedding`, then you can embed your sentence by `model.embedding.embed([sentence])`.  Here is the [embed API](https://kashgari.readthedocs.io/en/v2.0.0/embeddings/)

[2020-10-25 15:39] Alymostafa commented on #421
Ok thanks, that solved my issue.

[2020-10-25 15:39] #421 closed, assigned to BrikerMan

[2020-10-26 02:50] BrikerMan commented on #426
Duplicated with https://github.com/BrikerMan/Kashgari/issues/421#event-3917938228

[2020-10-26 02:55] BrikerMan commented on #424
在你跑代码之前，先设定，更多见 https://stackoverflow.com/questions/40069883/how-to-set-specific-gpu-in-tensorflow
[code]

[2020-10-26 02:55] #424 closed, assigned to BrikerMan

[2020-10-28 09:26] qq2499017550 opened #428 "[Question] 使用StackedEmbedding中遇到的问题。"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-10-30 12:41] BrikerMan commented on #423
已经在 2.0.1 版本中添加，已更新文档 [Kashgari with TF Serving](https://kashgari.readthedocs.io/en/v2.0.1/advance-use/tensorflow-serving/)

[2020-10-30 12:41] #423 closed, assigned to nobody

[2020-11-02 07:22] BrikerMan commented on #412
Please be more specific. If you want to design your own embedding, just follow the source code of WordEmbedding, I think it is simple enought.

[2020-11-03 07:05] Igoslow commented on #424
谢谢

[2020-11-05 07:06] learnpythontheew opened #430 "[Question] 无法开始epoch 训练：提示F tensorflow/core/kernels/cudnn_rnn_ops.cc:1643] Check failed: stream->parent()->GetRnnAlgorithms(&algorithms)"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-11-10 02:42] BrikerMan commented on #430
请问 Kashgari 版本是多少？

[2020-11-10 08:25] learnpythontheew opened #431 "[Question] model.fit 经常报错"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-11-10 09:04] BrikerMan commented on #431
请按照 issue 模板提问~ 谢谢~

[2020-11-11 01:13] learnpythontheew commented on #431
重新按模板填写了~

[2020-11-11 01:22] learnpythontheew commented on #431
大佬你的个人网站不用了吗？教学文章都打不开了o(╥﹏╥)o

[2020-11-11 03:41] learnpythontheew commented on #430
kashgari>=1.0.0,<2.0.0

[2020-11-11 13:34] BrikerMan commented on #430
直接跑 keras 模型没有这个问题么?

[2020-11-12 06:53] BrikerMan commented on #431
已修复

[2020-11-12 08:50] yuelianggongzi opened #432 "[Question] 关于使用kashgari微调bert的一些困惑"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-11-12 10:10] BrikerMan commented on #432
应该是 lr 过大的问题，可以按照这个自定义 optimizer 方法来设定自己的 optimizer 和 lr https://kashgari.readthedocs.io/en/v2.0.1/tutorial/text-labeling/#use-custom-optimizer

[2020-11-19 06:46] XuanYang1991 opened #434 "[Feature request] ner中前一次和后一次训练模型后保存model_info.json中, idx2label属性字典key前后不一致，能否修改为一致的，方便使用。"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-20 10:34] yuyunfeng666 commented on #28
请问一下，
`from kashgari.tasks.labeling import BiLSTM_Model
from kashgari.embeddings import BertEmbedding
from kashgari.corpus import ChineseDailyNerCorpus

train_x, train_y = ChineseDailyNerCorpus.load_data('train')
valid_x, valid_y = ChineseDailyNerCorpus.load_data('valid')
test_x, test_y = ChineseDailyNerCorpus.load_data('test')
print(train_y[0])

bert_embed = BertEmbedding('Kashgari/bert-base-chin

[2020-11-20 10:37] yuyunfeng666 opened #435 "KeyError: '[PAD]'"
我想直接使用预训练模型参数试一下结果，可是报了个keyerror，这是为啥
from kashgari.tasks.labeling import BiLSTM_Model
from kashgari.embeddings import BertEmbedding
from kashgari.corpus import ChineseDailyNerCorpus

train_x, train_y = ChineseDailyNerCorpus.load_data('train')
valid_x, valid_y = ChineseDailyNerCorpus.load_data('valid')
test_x, test_y = ChineseDailyNerCorpus.load_data('test')
print(train_y[0])

bert_embed = BertEmb

[2020-11-21 04:20] BrikerMan commented on #435
因为还没有构建模型和词表，所以会有问题，

[code]

[2020-11-23 08:45] yuyunfeng666 commented on #435
首先十分感谢您的回答，这部分已经调通了，我还想问一下，我这里如果想使用别的权重矩阵，只需要修改BertEmbedding('Kashgari/bert-base-chinese')这一部分吗

[2020-11-23 11:02] BrikerMan commented on #435
是的

[2020-11-24 05:20] Fourha commented on #432
请问设置Trainable=True是在加载bert预训练模型的命令里吗，我查阅了最新版本的文档，只在word_embedding里看到了trianable，之前的一些issue里提到的关于bert embedding设置trainable = True的参考文档链接全部404了，所以想问一下在哪里设置trainable，是否有相关文档呢~谢谢~

[2020-11-24 08:23] yuyunfeng666 commented on #435
好的，谢谢您

[2020-11-29 17:30] SharpKoi opened #436 "[Question] The input sequence length for Bert-BiLSTM-CRF and Save the best model"
## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aiss

[2020-12-01 10:52] SharpKoi opened #437 "[Question] Load model to continue training"
## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aiss

[2020-12-01 11:13] BrikerMan commented on #436
1. the first issue is related to BERT Embedding, the max sequence that can be processed by BERT is 512. [discussion](https://www.reddit.com/r/MachineLearning/comments/genjvb/d_why_is_the_maximum_input_sequence_length_of/)
You need to look for other embedding models.

2. You can pass your `tf.keras.callbacks` or you own callback. But tf.keras.callbacks.ModelCheckpoint might not work since we need t

[2020-12-01 14:32] SharpKoi commented on #436
Thanks for getting back to me! I'll try your solution to customize my own callback and post here if I have any problems. Thanks anyway.

[2020-12-01 22:09] #418 closed, assigned to BrikerMan

[2020-12-02 17:29] wuling31715 opened #438 "[Question] Is there any chance to use more pre-train embedding like RoBERTa or alBERT?"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-12-02 17:31] #438 closed, assigned to BrikerMan

[2020-12-02 17:31] wuling31715 opened #439 "[Question] Is there any chance to use more pre-train embedding like RoBERTa or ALBERT?"

[2020-12-03 01:20] BrikerMan commented on #439
https://kashgari.readthedocs.io/en/v2.0.1/embeddings/transformer-embedding/

[2020-12-03 02:19] wuling31715 commented on #439
Thanks a lot! Kashgari is real a convenient and powerful framework!

[2020-12-04 06:03] #436 closed, assigned to BrikerMan

[2020-12-04 21:05] #419 closed, assigned to BrikerMan

[2020-12-06 16:49] SharpKoi commented on #437
@BrikerMan 開發者您好，我找到造成這個bug的問題了，原因是 `ABCTaskModel` 裡 `load_model` 這個Method是將載入模型的最後一層CRF Layer指派給 `model.layer_crf` ，而有CRF Layer的模型代碼中 `compile_model()` 所獲取的loss是由 `model.crf_layer` 所提供，導致在調用 `compile_model()` 時獲取不到loss。
我已fork您的專案並修正此問題，並且加入save model callback功能，想發PR給您，只是不知有何規範?

[2020-12-07 11:21] BrikerMan commented on #437
@SharpKoi 非常感谢您的支持，规范就是带上必要注释，能够通过 lint & test 即可。
本地测试方法

[code]

提交 pr 后 github actions 也会进行测试～

[2020-12-09 05:32] #437 closed, assigned to BrikerMan

[2020-12-11 01:37] Igoslow opened #441 "[Question] Could the kashgari framework convert to onnx model? I try it but i find this bug"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Environment

- OS [e.g. Mac OS, Linux]: windows
- Python Version: 3.6.8
- requirements.txt: onnx kashgari

[code]

[2020-12-11 03:21] ArlanCooper opened #442 "五分钟搭建一个基于BERT的NER模型 相关参数没有给到"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-12-14 00:54] Igoslow commented on #441
when i change the load model way, i find a bug in onnxmltools.convert_keras code as follows:

import onnxmltools
from keras.models import load_model
import kashgari
input_keras_model = 'E:\KG\kashgari/train\gonghang_2020_12_10'

Change this path to the output name and path for the ONNX model
output_onnx_model = 'kashgari_model.onnx'

Load your Keras model
loaded_model = kashgari.utils.load_model(i

[2020-12-14 03:23] BrikerMan commented on #441
I haven't tried the onnx, Maybe try to convert it on colab, so you can rule out the environment issue first.

[2020-12-14 03:29] Igoslow commented on #441
Thank you very much! I get it.

[2020-12-14 13:54] PsyQuant opened #443 "[Question] 多标签预测问题"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2020-12-14 14:00] PsyQuant commented on #443
问题1 貌似是多标签分类不能callbacks的原因。

[2020-12-15 11:00] 584251395 opened #444 "TypeError: unhashable type: 'list'[BUG]"
在使用bert embedding
from kashgari.tasks.classification import CNN_LSTM_Model
bert_embedding=BertEmbedding("bertmodel")
model = CNN_LSTM_Model(bert_embedding)
model.fit(
    train_x, train_y,
    test_x, test_y,
    epochs=3,
    batch_size=64
)
<ipython-input-14-883d2bd156af> in <module>
      6     test_x, test_y,
      7     epochs=3,
----> 8     batch_size=64
      9 )

D:\anaconda\lib\site-packa

[2020-12-16 03:17] shiwl0329 commented on #1
大神，我想问一下，句子向量不是768维的么，30*768怎么转换成768维的句向量呢

[2020-12-16 03:18] shiwl0329 commented on #406
大神，跑出来的结果是[1,12,3072]，3072不是中间层的结果么。怎么才能获取768维的句向量呢

[2020-12-16 12:46] 584251395 commented on #444
系统：win10
python:3.7+3.8
版本：2.0.0

[2020-12-16 12:52] 584251395 commented on #444
absl-py                   0.11.0                   pypi_0    pypi
argon2-cffi               20.1.0           py38h294d835_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
astunparse                1.6.3                    pypi_0    pypi
async_generator           1.10                       py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
attrs

[2020-12-18 05:36] BrikerMan commented on #444
麻烦格式化一下问题，看着像是你的数据格式问题。

[2020-12-20 17:41] moulai opened #445 "[Question] 文本分类预测能否输出top k预测结果及概率值？"
## Check List
- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [x] I have read the [documents](https://kashgari.bmio.net)

## Question
请问文本分类预测能否输出top k预测结果及概率值？我看了issue #146 中的解决方案，但是好像并不适用于>=2.0.0版本？也没有在kpi文档中找到相关说明。
谢谢！

[2020-12-30 02:41] Syauri opened #446 "[Question] How do I specify layer regularization?"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-01-01 14:51] OmarMohammed88 commented on #439
@BrikerMan
is there any way to load pre-trained model with (.h5 OR bin)  extension instead of (.ckpt) because I got this error
![image](https://user-images.githubusercontent.com/45721757/103440833-8f968380-4c51-11eb-8f56-ae0cacf242e0.png)

[2021-01-02 03:06] BrikerMan commented on #439
Yes, the simplest way might be to load the h5 file using tf.keras, then save it save saved-model.

[code]

[2021-01-02 07:46] OmarMohammed88 commented on #439
```model = tf.keras.models.load_model("/content/ARBERT/tf_model.h5")```
i got this error
[code]

[2021-01-03 18:11] OmarMohammed88 opened #447 "[Question] Checkpoints"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-01-04 20:10] AliAshraf14 opened #448 "Add integrated gradients for more interpretability"
**Is your feature request related to a problem? Please describe.**
I'm always fond of tools that allow researchers to interpret their models' outputs such as [Grad Cam](https://arxiv.org/pdf/1611.07450.pdf) and [Captum](https://captum.ai/). Unfortunately, there are no similar tools implemented natively in this framework
**Describe the solution you'd like**
Adding integrated gradients to the framew

[2021-01-04 21:05] #410 closed, assigned to BrikerMan

[2021-01-08 15:35] #426 closed, assigned to BrikerMan

[2021-01-11 10:29] #428 closed, assigned to BrikerMan

[2021-01-12 04:04] yaleimeng opened #449 "[Question] v2版本为什么模型分了3个文件，体积翻倍？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List

**You can post pictures, but if specific text or code is required to reproduce the issue, please provide the text in a plain text format for easy copy/paste.**

- [+ ] I have searched in [existing issues](http

[2021-01-16 10:08] #412 closed, assigned to BrikerMan

[2021-01-18 08:52] BrikerMan commented on #449
这个设定是因为 Embedding 和 Model 是从架构上分开，保存也分开保存了，导致有了两个权重文件。我考虑一下如何优化，有什么意见建议也可以提出来。

[2021-01-18 09:15] yaleimeng commented on #449
Embedding的权重比较大能够理解，层数多也比较复杂。但是BERT后面接的部分网络相对简单，权重应该是比较小的。
拆开之后，应该两者的体积之和跟原来的权重大致相当（或略大）才符合预期。翻倍有点过了

[2021-01-18 09:16] BrikerMan commented on #449
表达有误，是保存了一次 Embedding，保存了一次全量模型。确实太浪费了，我想想如何修改比较方便。

[2021-01-19 07:11] learnpythontheew opened #450 "[BUG] AttributeError: module 'tensorflow.python.keras.utils.generic_utils' has no attribute 'populate_dict_with_module_objects'"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-01-24 18:37] #430 closed, assigned to BrikerMan

[2021-01-25 18:05] #431 closed, assigned to BrikerMan

[2021-01-31 03:11] ahmad-alismail opened #451 "[BUG] BERT embedding"
Hello,
I am trying to build a sequence labeling classifier as in tutorials, but I have the following problem with BERT embedding step:
![image](https://user-images.githubusercontent.com/46696930/106373430-b0014d00-6379-11eb-84ce-e8759bdf9d1f.png)

## Environment

- Mac OS
- Python Version: 3.6
- Google-Colab

### Other Comment

Did I make anything wrong in this step? Maybe it is stupid question bu

[2021-01-31 04:36] ahmad-alismail opened #452 "AttributeError: 'DoubleBLSTMModel' object has no attribute 'processor'"
Hello,
I am trying to reimplement the same customized code explained in the [documentation for text labeling](https://kashgari.readthedocs.io/en/latest/tutorial/text-labeling/):
[code]
However, I have the following message error:

[code]

## Environment

- OS [e.g. Mac OS, Linux]: Mac OS
- Python Version: Python 3.6 on google-colab

Could you help me to solve the problem please?

Thanks in advance

[2021-02-01 02:29] BrikerMan commented on #451
You are using the legacy API with Kashgari V2 version. please check out the latest docs https://kashgari.readthedocs.io/

[2021-02-01 02:53] #451 closed, assigned to BrikerMan

[2021-02-01 02:54] ahmad-alismail commented on #452
I think the documentation from the legacy version also?

[2021-02-01 03:08] ahmad-alismail opened #453 "Transformer Embedding"
Hello,
Thank you for this amazing job!

In the transformer embedding documentation [here](https://kashgari.readthedocs.io/en/latest/embeddings/transformer-embedding/) you mentioned that by using pre-trained embedding, we have to use the same tokenize tool with the embedding model to access the full power of the embedding.

If we do that, however, a bunch of tokens will be added to the input sequen

[2021-02-02 04:10] #434 closed, assigned to BrikerMan

[2021-02-02 08:48] ahmad-alismail opened #454 "Why can't I get reproducible results in even though I set the random seeds?"
Hello,
I am trying to use this framework for text labeling with all existed methods with BERT embedding. However, each time I run the code I get different result.  I set both nump.random and tensorflow.set_random_seed, but for some reasons I can't get reproducible results:
[code]
## Environment

- OS [e.g. Mac OS, Linux]: Mac OS
- Python Version: 3.6 - Google-colab ( training on GPU)

Thanks in Ad

[2021-02-04 23:20] Syauri commented on #178
How can I use bert-tokenizer for sequence labelling task? The documentation has an example for classification task.

[2021-02-07 03:50] KyleWang-Hunter commented on #316
how to use albert-tiny in kashgari2.0

[2021-02-07 05:11] ppvv6688 opened #455 "[Question] 模型保存出错"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-02-07 06:09] #435 closed, assigned to BrikerMan

[2021-02-07 06:09] #432 closed, assigned to BrikerMan

[2021-02-08 06:28] james-robinhood commented on #405
跟进一下这个问题。在新版本里如何可以输出top k的结果或者直接输出所有的概率而不是argmax？

[2021-02-08 06:29] james-robinhood commented on #445
同问这个问题，predict_top_k好像在新版本里没有了

[2021-02-09 09:29] james-robinhood opened #456 "[Question] 如何输出 top k 结果或者概率"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-02-09 09:32] james-robinhood opened #457 "[Question] 如何输出predict的中间层value"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-02-13 18:02] ahmad-alismail opened #458 "[BUG] 'BareEmbedding' object has no attribute 'analyze_corpus'"
Hello,
In the documentation for Bare-Embeddings I found that we must call `analyze_corpus` function before using the embed function to build word-list from the corpus.
So I tried to do that with my data, but I think the current documentation is old or the code is not maintained:
[code]
The error message:
[code]
Thanks in advance!

[2021-02-14 01:47] BrikerMan commented on #456
这个功能确实缺失了，近期会补上。

[2021-02-14 01:50] BrikerMan commented on #458
Yes, this is a document out-dated issue. Please refer to the test-case, will fix docs later.

Here is how you do it. [Example](https://sourcegraph.com/github.com/BrikerMan/Kashgari/-/blob/tests/test_embeddings/test_bare_embedding.py#L33)

[2021-02-14 01:51] BrikerMan commented on #454
I haven't tried this use-case. Let me test & come back to you.

[2021-02-14 05:35] ahmad-alismail commented on #458
Hello, thank you for your reply!
Actually I am working with this amazing framework because It is very simple and flexible. I want to use all of the codes for text labeling in my master thesis but I have to be sure that I am doing it right.
As the documentation has out-dated issue, I hope that you can update the docs as soon as possible (especially for text labeling)
I will show you what I have mad

[2021-02-14 12:41] BrikerMan commented on #458
[code]

[2021-02-23 11:03] wangberry commented on #454
I got the same error! Did you solve it?

[2021-03-02 03:25] Harrypeas opened #459 "[Question] Errors of Bi_LSTM classification model when using TF 2.4.1 and kashgari 2.0.1"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-03-02 08:29] gguan opened #460 "[Question] How to add customized tokenizer and dictionary(如何替换分词和加入自定义字典)"
如题，想在NER时加入自定义词典，请问在哪里修改？可以提示一下吗？

[2021-03-03 04:31] gguan commented on #460
model本身如果不可以添加词典的画，请问有什么bert能跟自定义词典结合使用的技术方案吗？

[2021-03-05 02:30] asd8095075 opened #461 "model.save：TypeError: Object of type module is not JSON serializable"
from kashgari.corpus import ChineseDailyNerCorpus
from kashgari.embeddings import BertEmbedding
from kashgari.tasks.labeling import BiLSTM_CRF_Modelb
import kashgari

X_train, y_train = ChineseDailyNerCorpus.load_data('train')
x_test, y_test = ChineseDailyNerCorpus.load_data('test')
X_valid, y_valid = ChineseDailyNerCorpus.load_data('valid')

bert_embed = BertEmbedding('./bert/chinese_roberta_wwm_

[2021-03-05 03:44] asd8095075 commented on #461
Version being used： kashgari2.0.0
Operating system： windows 10
Version of Python： 3.7.2
Errors in console： TypeError: Object of type module is not JSON serializable
Detailed description of the problem： use chinese_roberta_wwm_ext_L-12_H-768_A-12，save model fail

[2021-03-08 01:03] yaleimeng commented on #449
@BrikerMan  这个问题对作者应该不是很难解决的。如果我自己来改，可能要把整个项目读一遍来定位问题。原来读过1.x版本，现在2.x没读过。
希望问题早日得到解决。如果他人解决了还希望早日合并。多谢项目参与者的辛苦工作。

[2021-03-19 22:50] #444 closed, assigned to BrikerMan

[2021-03-19 22:50] #447 closed, assigned to BrikerMan

[2021-03-19 22:50] #439 closed, assigned to BrikerMan

[2021-03-19 22:50] #442 closed, assigned to BrikerMan

[2021-03-19 22:50] #441 closed, assigned to BrikerMan

[2021-03-19 22:50] #443 closed, assigned to BrikerMan

[2021-03-22 12:45] #460 closed, assigned to BrikerMan

[2021-03-25 14:13] Bingyu-Wang commented on #437
请问这个问题解决了吗？我在调用 loaded_model.compile_model() 时依然碰到这个问题

.\kashgari\tasks\labeling\bi_lstm_crf_model.py in compile_model(self, loss, optimizer, metrics, **kwargs)
     61                       **kwargs: Any) -> None:
     62         if loss is None:
-> 63             loss = self.layer_crf.loss
     64         if metrics is None:
     65             metrics = [self.layer_crf.accuracy]
AttributeError

[2021-03-26 04:09] Allen-dududu commented on #455
f.write() 试着用encoding='utf8'，如果你的文件是用utf8格式读的，写的时候因为默认是gbk，所以可能会出错

[2021-03-26 04:36] ppvv6688 commented on #455
去包里源文件修改么？我不太会啊

[2021-03-26 05:35] songsa1 opened #462 "[val_loss值降不下来，最低也有10以上]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-03-26 06:44] Allen-dududu commented on #455
f.write(json.dumps(self.to_dict(), indent=2, ensure_ascii=False), encoding ='utf8' )

[2021-03-31 13:35] SharpKoi commented on #437
@Bingyu-Wang 您好，非常抱歉晚回覆了。
我將解決方案提交到 `v2-dev` 這個branch，沒有提交到default branch，現在的release版本沒有這次解決的項目。
這個錯誤起因於model儲存CRF Layer的變數名為`crf_layer`，而非錯誤訊息裡的`layer_crf`，您可以選擇執行下列代碼後再compile model。
[code]

[2021-04-01 02:00] Bingyu-Wang commented on #437
感謝您的回復，我嘗試過您的方法，但是出現了新問題
AttributeError: 'BiLSTM_CRF_Model' object has no attribute 'layer_crf'

目前似乎已經修復了這個bug，但是在compile_model繼續訓練時，訓練似乎是重新開始的。

[2021-04-01 03:08] SharpKoi commented on #437
@Bingyu-Wang 抱歉我似乎看錯您的問題，您遇到的錯誤正好與我的相反，我的錯誤訊息是 `crf_layer` is NonType，而非 `layer_crf`。不知道您安裝的是哪個版本呢?
我建議您安裝最新release的版本v2.0.1，再執行我那行程式碼。
[code]

[2021-04-01 08:15] ppvv6688 commented on #455
谢谢

[2021-04-01 10:06] Bingyu-Wang commented on #437
我重新安裝了最新版本的kashgari。
如果直接 compile_modle 會出現
\kashgari\tasks\labeling\bi_lstm_crf_model.py", line 63, in compile_model
    loss = self.crf_layer.loss
AttributeError: 'NoneType' object has no attribute 'loss'

加上您提供的那行代碼後，可以使用compile_model，但訓練似乎是從頭開始的。

以下是我寫的測試代碼。
[code]

[2021-04-02 03:24] xrzlizheng opened #463 "自定义模型 训练 保存 再倒入使用报错"
File ".\getvec.py", line 86, in <module>
    pro_model =Double_BiLSTM_Model.load_model('double_model')
  File "d:\anaconda3\lib\site-packages\kashgari\tasks\abs_task_model.py", line 101, in load_model
    model = load_data_object(model_config)
  File "d:\anaconda3\lib\site-packages\kashgari\utils\serialize.py", line 25, in load_data_object
    obj: Any = pydoc.locate(module_name)(**data['config'],

[2021-04-06 08:13] SharpKoi commented on #437
@Bingyu-Wang 您檢查一下吧，為什麼你載入模型放到loaded_model後卻用新建立的model來訓練

[2021-04-06 15:02] Bingyu-Wang commented on #437
感謝您的回答，問題已解決。
我直接參照了示例代碼，Kashgari/docs/tutorial/text-labeling.md，這句正是我疑惑的地方。

[code]

[2021-04-07 02:07] tianjiajun-com opened #464 "[Question]1.模型训练val_loss的值在40左右，这是什么问题？ 2.如何修改模型的学习率等相关的参数？ 3.no module named 'keras_radam'"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-04-15 02:11] who0sy opened #465 "使用BiLSTM_CRF训练几个epoch后, val_accuracy断崖式下降"
## Environment

- ubuntu 20.04
- Python Version 3.7.0
- Kashgari 2.0.1
- tensorflow 2.4.1

## Question

训练几个epoch后, val_accuracy断崖式下降, 用的是BiLSTM_CRF , 是否和CRF层有关系?

[code]

[2021-04-15 02:15] who0sy commented on #465
添上相关训练代码:
[code]

[2021-04-15 02:17] who0sy commented on #465
从评估效果来看似乎没有太大的问题?
[code]

[2021-04-15 06:32] who0sy commented on #445
同问

[2021-04-18 23:18] #448 closed, assigned to BrikerMan

[2021-04-21 09:30] ouyangmingyuan opened #466 "报错: File "\Kashgari\kashgari\processors\sequence_processor.py", line 129, in transform seq = [self.token_bos] + seq + [self.token_eos] TypeError: can only concatenate list (not "str") to list[BUG]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-04-21 15:47] xqrshine opened #467 "[Question] v1.1.1 kashgari.embeddings.bert_embedding_v2.BERTEmbeddingV2 怎么获取得到的向量"
- [ ] I have read the [documents](https://kashgari.readthedocs.io/en/v1.1.1/embeddings/bert-embedding_v2.html)

## Question

您好，想请教您一个问题，还望您解答：

在使用kashgari v1.1.1版本的BERTEmbeddingV2时, (其中bert_type=‘nezha’),  怎么获取文本序列的向量？

我的代码如下：

[code]

报错如下：
[code]

[2021-04-29 06:23] LiangYuHai opened #468 "[Question] 为什么使用Bilstm+Crf时，实际有33个类别，但CRF转移矩阵尺寸大小为35*35，导致无法预测"
如下报错
(0) Invalid argument: Input to reshape is a tensor with 399000 values, but the requested shape has 376200
         [[{{node layer_crf_dense/Tensordot}}]]
         [[layer_crf/mul/_2999]]
  (1) Invalid argument: Input to reshape is a tensor with 399000 values, but the requested shape has 376200
         [[{{node layer_crf_dense/Tensordot}}]]
[Paste requirements.txt file here]
[code]

[2021-04-29 06:31] #468 closed, assigned to BrikerMan

[2021-06-02 15:54] #450 closed, assigned to BrikerMan

[2021-06-18 02:26] makerjackie commented on #465
看起来是一个已知问题: https://github.com/BrikerMan/Kashgari/issues/217 但没有修复

[2021-06-24 00:24] enjuichang commented on #165
Is predict_top_k_class still working in the package?

[2021-06-24 07:40] Cliccker commented on #461
I've met the same problem while training a labeling model.
Did you find any solution?

[2021-06-25 02:26] asd8095075 commented on #461
The problem remains unsolved

[2021-07-04 03:56] #458 closed, assigned to BrikerMan

[2021-07-04 10:45] BrikerMan commented on #463
2.0.2 版本应该修复了该问题，可以测试一下～

[2021-07-06 06:40] TechSang opened #472 "Seq2seq model tend to repeat"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-07-07 01:56] BrikerMan commented on #472
Wow. This is the first time I see some one used seq2seq on Uighur language generation. What kind tokenization process you have used? And please share the seq2seq definition code, and how long you have trained on the corpus.

[2021-07-07 01:57] BrikerMan commented on #449
这个问题暂时忽略了～ 不好意思带来麻烦。可能未来某一天考虑变更～

[2021-07-07 01:57] BrikerMan commented on #459
Please retry it with the latest version.

[2021-07-07 01:59] BrikerMan commented on #454
Not yet. Which corpus you are using to train. Can you share a colab with this issue so that I can follow up.

[2021-07-07 02:05] BrikerMan commented on #457
1. 先按照正常流程构建 kashgari 模型，训练
2. kashgari 模型的 tf_model 属性就是对应的 tf 模型，使用这个模型的输入作为输入，目标输出层作为输出构建一个模型。
3. 使用预处理模块把文本转换为向量，然后输入到新构建的模型。

[2021-07-07 02:10] BrikerMan commented on #446
You can just add key value to the hyper params, which will pass to layers as **kwargs

[2021-07-07 02:11] BrikerMan commented on #455
新版本应该已修复，在测试看看～

[2021-07-07 02:13] TechSang commented on #472
It just uses the example in kashgari Seq2seq tutorial.
The tokenizer I tried basic Bert, Ernie, and the result is similar.
I tried the seq2seq in text2sql task, the problem happens as well. It tends to repeat and generate sentences that are irrelevant with train_y.

[2021-07-07 02:17] BrikerMan commented on #472
how many sentences you used for training.

[2021-07-07 02:19] TechSang commented on #472
About 30000 sentences

[2021-07-07 02:41] BrikerMan commented on #472
It is most likely a tokenizer issue. You need to use a proper tokenizer so that your sentence's tokens match the embedding vocab.

For example, after you have loaded the embedding.

[code]

So all the tokens not in embeddings vocab will translate into a predefined token, which caused this issue.

[2021-07-07 02:45] yaleimeng commented on #449
@BrikerMan 感谢关注，不过我已经解决了。目前在使用中没发现什么异常。
在kashgari/tasks/abs_task_model.py 里面，在save()函数、load_model()函数里面，分别注释掉存取  embed_model_weights.h5 的那一条语句即可。

[2021-07-07 02:45] #449 closed, assigned to BrikerMan

[2021-07-07 02:46] BrikerMan commented on #449
因为考虑了太多场景的兼容，所以妥协了这个做法来着～

[2021-07-07 02:48] TechSang commented on #472
Got it! I will try to fix it. Thanks for your help!!

[2021-07-08 02:55] wangberry commented on #454
Unreproducibility should not be caused by the corpus. Maybe this can help:  https://github.com/NVIDIA/framework-determinism

[2021-07-27 06:24] xrzlizheng opened #473 "1x版本利用的keras比tf.keras运行速度倍增"
1x版本利用的keras比tf.keras运行速度倍增
：无论是都利用gpu/cudnn加速
将tf.keras 、form tensorflow  import keras 直接替换成  import  keras
模型训练效率得到了大大的提升

不知道有没有相同体验的小伙伴

[2021-07-27 07:49] DevilCarp commented on #237
应该是使用Java环境部署模型并调用模型的时候使用pb模型文件。
ckpt转pb应该都是比较成熟的方案。

[2021-08-09 02:26] GinkgoX commented on #428
你好，请问多标签任务的输入和输出格式是怎样的呀

[2021-08-09 02:47] GinkgoX opened #474 "[Question] 请问如何进行多任务训练和预测呢？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-08-09 03:26] Dustyposa commented on #466
Can you show your code segment?

[2021-09-03 01:56] #452 closed, assigned to BrikerMan

[2021-09-03 01:56] #453 closed, assigned to BrikerMan

[2021-09-17 06:17] mading0817 opened #475 "环境配置问题"
OS: win10
python: 3.7
Kashgari: 2.0.0
请问现在环境应该怎么配?
因为我发现如果我配tf 2.3以上, keras版本要求大于2.4.0; 但bert4keras要求keras版本小于2.3.1
NumPy也会因为版本过高报错; 如果我用2.3以下的版本, BiLSTM_CRF_Model不能用, 要求tf的版本在2.3之上.

谢谢

[2021-09-17 08:48] Youngchou018 commented on #403
I have the same problem

[2021-09-17 10:41] mading0817 commented on #475
最后我使用的是tf-gpu 2.2 可以跑通, 但是要把numpy版本降到1.19就可以了.
作者的项目很牛逼! 感谢分享!!

[2021-09-17 10:41] #475 closed, assigned to BrikerMan

[2021-09-19 02:03] #456 closed, assigned to BrikerMan

[2021-10-10 12:26] cccccrj commented on #461
also encountered this problem.

[2021-10-19 09:07] zcyzhuangzhou opened #476 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Incompatible shapes: [1,512,768] vs. [128,1132,768]"
- [x] I have searched in [existing issues](https://github.com/BrikerMan/Kashgari/issues?utf8=%E2%9C%93&q=is%3Aissue+) but did not find the same one.
- [x] I have read the [documents](https://kashgari.bmio.net)

## Environment

- OS: Ubuntu 16.04
- Python Version: 3.8
- Kashgari Version: 2.0.2
- Tensorflow Version: 2.2.0

## Question

First, I trained a text classification model without using pretr

[2021-10-22 02:41] baketbek opened #477 "您好！序列标注中，想预测很多句子，一个一个去预测时间好慢，可以实现批量的运算吗？[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-10-22 02:44] BrikerMan commented on #477
predict 接口就可以传多个 sentence，本来就是个`[sample]`

[2021-10-22 03:13] baketbek commented on #477
感恩 刚尝试了一下，可以的。效率也提上来了。幸亏遇到这个项目，简直太棒了，上来就解决业务需求！！！必须打 call。能方便加上大佬微信，私下请教沟通吗？

[2021-10-23 06:54] cccccrj opened #478 "[BUG] :Gradients do not exist for variables ['k_conditional_random_field/transitions:0']"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-10-25 09:49] jiel30 commented on #403
same problem here
Kashgari == 2.02
tensorflow == 2.5.0

[2021-10-28 07:51] shiwl0329 opened #479 "[Question] 分类采用bert embedding output_feature"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-10-28 09:24] shiwl0329 commented on #479
@BrikerMan

[2021-11-08 02:55] BrikerMan commented on #479
根据 [Bert 论文](https://arxiv.org/pdf/1810.04805.pdf) 倒数第二段最后一句话，我们选择了最后四个层的输出合并起来作为后续层的输入。

[2021-11-08 06:28] shiwl0329 commented on #479
哦哦，明白了。不过为啥bert用来分类的只取了最后一层的CSL向量接一个全连接，跟论文上说的还不一样

[2021-11-11 08:17] kehlaaa opened #480 "ner任务 tf_serving 调用问题"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-11-13 07:55] #480 closed, assigned to BrikerMan

[2021-12-09 00:15] #445 closed, assigned to BrikerMan

[2021-12-09 00:15] #462 closed, assigned to BrikerMan

[2021-12-09 00:15] #464 closed, assigned to BrikerMan

[2021-12-09 02:11] Gowott commented on #403
have u solved it? i meet the same one

[2021-12-09 02:11] Gowott commented on #403
have u solved it? i meet the same one

[2021-12-09 02:12] Gowott commented on #403
Hey, i use colab and meet the same problem no module named BertEmbedding

[2021-12-13 09:29] tianjiajun-com opened #481 "[Question] 请问这个错误如何解决？"
---------------------------------------------------------------------------
CancelledError                            Traceback (most recent call last)
<ipython-input-6-8c7c8d740480> in <module>
      3
      4 model = BiLSTM_Model()
----> 5 model.fit(train_x, train_y, valid_x, valid_y)

[2021-12-13 09:29] tianjiajun-com commented on #481
---------------------------------------------------------------------------
CancelledError                            Traceback (most recent call last)
<ipython-input-6-8c7c8d740480> in <module>
      3
      4 model = BiLSTM_Model()
----> 5 model.fit(train_x, train_y, valid_x, valid_y)

/usr/local/lib/python3.6/site-packages/kashgari/tasks/labeling/abc_model.py in fit(self, x_train, y_train, x_va

[2021-12-18 15:40] cccccrj opened #482 "[Question] Can i adjust the learning rate of CRF?"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2021-12-21 07:45] mejackomg opened #483 "[Question] labeling模型进行推理时随次数的增加而进程占用的内存逐渐增多，是否存在内存内存泄漏现象？"
kashgari 1.1.5，tf1.15，我的代码：
import tensorflow as tf
import kashgari
from tensorflow.python.keras.backend import set_session, clear_session

# 由于需要使用多个模型，对每个模型定义了全局graph和session
# 载入checkpoint文件
graph = tf.Graph()
tf_global_config = tf.ConfigProto(inter_op_parallelism_threads=1, intra_op_parallelism_threads=1)
sess = tf.Session(config=tf_global_config, graph=graph)
with graph.as_default():
    set_

[2021-12-21 11:27] mejackomg commented on #483
看上去像是keras的锅：https://github.com/keras-team/keras/issues/13118

[2021-12-23 12:33] honeysuckcle opened #484 "[Question] How to adjust learning rate when I use Bi-LSTM model on classification task?"
## Environment

- OS : Linux
- Python Version: 3.8.10

## Question

How to adjust learning rate when I use Bi-LSTM model on classification task?
如何调整BiLSTM在分类任务上的学习率？

[2021-12-24 08:01] BrikerMan commented on #484
You can use a custom optimizer by using https://kashgari.readthedocs.io/en/latest/tutorial/text-labeling/#use-custom-optimizer.

[2022-01-01 12:57] zhangjinqu commented on #403
In my case, this error was caused by the name of BertEmbedding, All characters in Bert should be capitalized as BERTEmbedding

import as following:

from kashgari.embeddings import BERTEmbedding

[2022-01-17 02:34] SkyHunterC opened #485 "[Question] 关于继续学习添加新的实体"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-01-17 03:56] BrikerMan commented on #485
由于增加实体会导致模型最后一个层输出大小变化，目前不支持持续训练。只能从头重新训练。

[2022-02-17 07:18] HuizhiXu commented on #461
got this problem too

[2022-02-17 08:16] HuizhiXu commented on #461
I tried to find why this happened.

I have located the problem, it’s in this file  “lib/python3.6/site-packages/kashgari/tasks/abs_task_model.py”
 in function save , line 84, `f.write(json.dumps(self.to_dict(), indent=2, ensure_ascii=False))`.

The structure of “module” might have wrong type, not JSON, so it cannot be serializied.

Also noticed that Keras has the same issue. https://github.com/ker

[2022-04-06 14:05] hwq458362228 opened #486 "使用albert做嵌入的时候报错"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-04-09 20:30] Robinaoko opened #487 "导入BERTEmbedding失败"
您好，我使用Anaconda安装环境如下：

python 3.6
tensorflow ==2.5.0
tensorflow_addons==0.13.0
kashgari 2.0.2

得到的错误是：ImportError: cannot import name 'Bertembedding'
尝试了很多办法，新建了很多环境也没有解决，求助！

[2022-04-10 08:58] hwq458362228 commented on #487
是不是因为E要大写，应该是“BertEmbedding”，你的报错里写的是“Bertembedding”

[2022-04-10 10:27] Robinaoko commented on #487
是的是的！解决了，非常感谢！

[2022-04-10 10:27] #487 closed, assigned to BrikerMan

[2022-04-14 10:17] hwq458362228 opened #488 "[Question] 文本分类中的CNN开头的模型accuracy不管换数据集还是调参数都只有0.2"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-04-16 05:53] #467 closed, assigned to BrikerMan

[2022-05-16 03:03] RoseWang1 opened #489 "[Question] 使用keras导入RAdam时报错"

[2022-05-16 03:05] RoseWang1 commented on #489
karas的版本是2.3.1，tensorflow的版本是2.5.0

[2022-05-19 09:13] xiaoxiaofengzi opened #490 "[Question] https://eliyar.biz/ can't open"
https://eliyar.biz/ can't open

[2022-05-19 16:45] BrikerMan commented on #490
Please try to access it with vpn. It works just fine.

[2022-06-08 02:28] weil0258 opened #491 "ner: cnn+lstm and bigru mod ，The code is the same"
The code is the same：in
       layer_stack = [
            L.Bidirectional(L.GRU(**config['layer_bgru']), name='layer_bgru'),
            L.Dropout(**config['layer_dropout'], name='layer_dropout'),
            L.TimeDistributed(L.Dense(output_dim, **config['layer_time_distributed']), name='layer_time_distributed'),
            L.Activation(**config['layer_activation'])
        ]

[2022-06-16 11:10] AnitaSherry opened #492 "[Question] 如何在GPU上进行训练"

[2022-06-20 07:46] #492 closed, assigned to BrikerMan

[2022-06-20 09:14] AnitaSherry opened #493 "[BUG] BiLSTM_Model.load_model('saved_ner_model')源代码加载模型报错"
ValueError: Unknown layer: PositionEmbedding. Please ensure this object is passed to the `custom_objects` argument.

[2022-06-20 09:29] AnitaSherry commented on #463
仍然报错

[2022-06-20 09:37] AnitaSherry commented on #437
解决了吗？我load_model错误，Unknown layer: PositionEmbedding.

[2022-06-22 15:46] OmarMohammed88 opened #494 "[Question]"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**

## Check List
Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-07-06 07:18] susu-12 commented on #406
你好，我想问下如果我想修改BERT模型的自注意层，然后再加载预训练模型，不知道该怎么操作

[2022-07-22 08:58] Zikangli opened #495 "[BUG] 自定义模型，多个特征输入使用多个embed，模型fit报错，还需要重定义哪些方法来支持？"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-07-22 09:14] Zikangli commented on #495
是不是模型的text_processor、label_processor也得相应的重新定义？

[2022-07-23 10:36] Zikangli opened #496 "简单调用BiLSTM_CRF模型，使用最基本bert-chinese作为embedding，运行报错layer_crf does not support masking"
**You must follow the issue template and provide as much information as possible. otherwise, this issue will be closed.
请按照 issue 模板要求填写信息。如果没有按照 issue 模板填写，将会忽略并关闭这个 issue**
## Check List

Thanks for considering to open an issue. Before you submit your issue, please confirm these boxes are checked.

**You can post pictures, but if specific text or code is required to reproduce the issue, please p

[2022-07-26 06:49] Zikangli commented on #496
我找到问题了，解决了，感谢！

我在自己代码最开始多加了一句tf.enable_eager_execution()，去掉就没问题了。

[2022-07-26 06:49] #496 closed, assigned to BrikerMan

[2022-11-02 00:46] #479 closed, assigned to BrikerMan

[2022-11-02 00:46] #482 closed, assigned to BrikerMan

[2022-11-02 00:46] #481 closed, assigned to BrikerMan

[2022-11-02 00:46] #483 closed, assigned to BrikerMan

[2022-11-02 00:46] #484 closed, assigned to BrikerMan

[2022-11-02 00:46] #485 closed, assigned to BrikerMan

[2022-11-02 00:46] #478 closed, assigned to BrikerMan

[2022-11-02 00:46] #477 closed, assigned to BrikerMan

[2022-11-02 00:46] #476 closed, assigned to BrikerMan

[2022-11-02 00:46] #465 closed, assigned to BrikerMan

[2022-11-02 00:46] #459 closed, assigned to BrikerMan

[2022-11-02 00:46] #457 closed, assigned to BrikerMan

[2022-11-02 00:46] #446 closed, assigned to BrikerMan

[2022-11-02 00:46] #455 closed, assigned to BrikerMan

[2022-11-02 00:46] #454 closed, assigned to BrikerMan

[2022-11-02 00:46] #472 closed, assigned to BrikerMan

[2022-11-02 00:46] #466 closed, assigned to BrikerMan

[2022-11-02 00:46] #473 closed, assigned to BrikerMan

[2022-11-02 00:46] #474 closed, assigned to BrikerMan